@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?13215528');
  src: url('../font/fontello.eot?13215528#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?13215528') format('woff2'),
       url('../font/fontello.woff?13215528') format('woff'),
       url('../font/fontello.ttf?13215528') format('truetype'),
       url('../font/fontello.svg?13215528#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?13215528#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-nuevo:before { content: '\e800'; } /* '' */
.icon-pedido:before { content: '\e801'; } /* '' */
.icon-pedido1:before { content: '\e802'; } /* '' */
.icon-pedido1-fill:before { content: '\e803'; } /* '' */
.icon-plastico:before { content: '\e804'; } /* '' */
.icon-resumen:before { content: '\e805'; } /* '' */
.icon-sync:before { content: '\e806'; } /* '' */
.icon-vender:before { content: '\e807'; } /* '' */
.icon-vender-fill:before { content: '\e808'; } /* '' */
.icon-actualizar:before { content: '\e809'; } /* '' */
.icon-botella:before { content: '\e80a'; } /* '' */
.icon-caja:before { content: '\e80b'; } /* '' */
.icon-cerveza:before { content: '\e80c'; } /* '' */
.icon-cerveza_fill:before { content: '\e80d'; } /* '' */
.icon-cliente:before { content: '\e80e'; } /* '' */
.icon-cliente-fill:before { content: '\e80f'; } /* '' */
.icon-clientes:before { content: '\e810'; } /* '' */
.icon-clientes-fill:before { content: '\e811'; } /* '' */
.icon-compra:before { content: '\e812'; } /* '' */
.icon-compra_fill:before { content: '\e813'; } /* '' */
.icon-configuracion:before { content: '\e814'; } /* '' */
.icon-configuracion_fill:before { content: '\e815'; } /* '' */
.icon-credito:before { content: '\e816'; } /* '' */
.icon-credito-fill:before { content: '\e817'; } /* '' */
.icon-eliminar:before { content: '\e818'; } /* '' */
.icon-imprimir:before { content: '\e819'; } /* '' */
.icon-inventario:before { content: '\e81a'; } /* '' */
.icon-inventario_fill:before { content: '\e81b'; } /* '' */
.icon-inventario-close:before { content: '\e81c'; } /* '' */
.icon-inventario-open:before { content: '\e81d'; } /* '' */
.icon-lata:before { content: '\e81e'; } /* '' */
.icon-notificacion:before { content: '\e81f'; } /* '' */
.icon-banco:before { content: '\e820'; } /* '' */
.icon-banco-fill:before { content: '\e821'; } /* '' */
.icon-deuda:before { content: '\e822'; } /* '' */
.icon-deuda-fill:before { content: '\e823'; } /* '' */
.icon-cuenta:before { content: '\e824'; } /* '' */