
.icon-nuevo:before { content: '\e800'; } /* '' */
.icon-pedido:before { content: '\e801'; } /* '' */
.icon-pedido1:before { content: '\e802'; } /* '' */
.icon-pedido1-fill:before { content: '\e803'; } /* '' */
.icon-plastico:before { content: '\e804'; } /* '' */
.icon-resumen:before { content: '\e805'; } /* '' */
.icon-sync:before { content: '\e806'; } /* '' */
.icon-vender:before { content: '\e807'; } /* '' */
.icon-vender-fill:before { content: '\e808'; } /* '' */
.icon-actualizar:before { content: '\e809'; } /* '' */
.icon-botella:before { content: '\e80a'; } /* '' */
.icon-caja:before { content: '\e80b'; } /* '' */
.icon-cerveza:before { content: '\e80c'; } /* '' */
.icon-cerveza_fill:before { content: '\e80d'; } /* '' */
.icon-cliente:before { content: '\e80e'; } /* '' */
.icon-cliente-fill:before { content: '\e80f'; } /* '' */
.icon-clientes:before { content: '\e810'; } /* '' */
.icon-clientes-fill:before { content: '\e811'; } /* '' */
.icon-compra:before { content: '\e812'; } /* '' */
.icon-compra_fill:before { content: '\e813'; } /* '' */
.icon-configuracion:before { content: '\e814'; } /* '' */
.icon-configuracion_fill:before { content: '\e815'; } /* '' */
.icon-credito:before { content: '\e816'; } /* '' */
.icon-credito-fill:before { content: '\e817'; } /* '' */
.icon-eliminar:before { content: '\e818'; } /* '' */
.icon-imprimir:before { content: '\e819'; } /* '' */
.icon-inventario:before { content: '\e81a'; } /* '' */
.icon-inventario_fill:before { content: '\e81b'; } /* '' */
.icon-inventario-close:before { content: '\e81c'; } /* '' */
.icon-inventario-open:before { content: '\e81d'; } /* '' */
.icon-lata:before { content: '\e81e'; } /* '' */
.icon-notificacion:before { content: '\e81f'; } /* '' */
.icon-banco:before { content: '\e820'; } /* '' */
.icon-banco-fill:before { content: '\e821'; } /* '' */
.icon-deuda:before { content: '\e822'; } /* '' */
.icon-deuda-fill:before { content: '\e823'; } /* '' */
.icon-cuenta:before { content: '\e824'; } /* '' */