<template>
  <div>

    <div class="row relative">
      <div class="col-lg-2 bg-white fixed" style="bottom:0;top:75px">
        <q-list link no-border inset-separator>
          <q-list-header>
            <q-item-tile><strong style="color:black;font-size:18px">Configuración</strong> </q-item-tile>
          </q-list-header>
          <q-item to="/app/inventario/configuracion" exact>
            <q-item-main>
              <q-item-tile label>Presentaciones</q-item-tile>
            </q-item-main>
          </q-item>
          <q-item to="/app/inventario/configuracion/unidades" exact>
            <q-item-main>
              <q-item-tile label>Unidades</q-item-tile>
            </q-item-main>
          </q-item>
        </q-list>
      </div>
      
      <div class="col-lg-8 col-xl-6 offset-lg-3 offset-xl-4">    
        <router-view/>
      </div>
    </div>
  
  </div>
</template>

<script>
  export default {
    // name: 'ComponentName',
    data() {
      return {}
    }
  }
</script>

<style>
  
</style>
