<template>
   <div class="q-mx-xl q-my-md" style="width:calc(100% - 80px)">
     
    <div class="row fixed bg-tertiary" style="z-index:200;width:100%;top:63px">
      <div class="relative row q-pt-md q-pb-xs items-center">
        <q-btn-group>
          <q-btn icon="icon-nuevo" color="primary" @click="() => {mostrar = true}">
            <q-tooltip>Crear inventario</q-tooltip>
          </q-btn>
          <q-btn  icon="icon-actualizar" @click.native="recargar" color="primary">
            <q-tooltip>Actualiza cambios</q-tooltip>
          </q-btn>
        </q-btn-group>
      </div>
    </div>

    <q-modal v-model="mostrar" no-esc-dismiss no-backdrop-dismiss>
      <div class="q-pa-md">
        <p><strong style="font-size:22px">{{ (editar ? 'Editar item' : 'Nuevo item')}}</strong></p>
        <div class="row justify-center">
          <div class="q-pl-lg">
            <div class="row">
              <div class="col-11">
                 Unidades por caja:
                <q-input type="number" v-model="unidades" @keydown.enter="guardar" clearable inverted-light/>
              </div>
            </div>
            <div class="row q-mt-md q-pl-xs">
              <div class="col-10 q-pt-md">
                <q-btn-group>
                  <q-btn color="primary" :label="editar ? 'Actualizar' :'Guardar'" @click="guardar"></q-btn>
                  <q-btn color="primary" outline :label=" editar ? 'Cancelar': 'Cerrar'" @click="restablecer"></q-btn>
                </q-btn-group>
              </div>
            </div>
          </div>
        </div>
      </div>
    </q-modal>

    <div class="row q-mt-xl">
      <div class="col-xl-12 col-lg-12">
        <q-list link class="round-borders shadow-2 bg-white no-border">
          <q-item v-for="(value, index) in objs"  :key="index" @click.native="tablaClic(value)">
            <q-item-side>
              <q-item-tile letter>{{index + 1}}</q-item-tile>
            </q-item-side>
            <q-item-main :label=" 'Caja x ' + value.value + ' unidades'" />
            <q-item-side right @click.native.stop="eliminar(value._id)">
              <q-item-tile icon="icon-eliminar" color="negative"/>
            </q-item-side>
          </q-item>
        </q-list>
      </div>
    </div>

    <q-page-sticky position="bottom-right" :offset="[32, 32]">
      <q-btn  size="lg" round color="primary" @click="() => {mostrar = true}" icon="add"/>
    </q-page-sticky>

  </div>
</template>

<script>
  import {
    Unidades
  } from 'src/database'
  export default {
    name: 'InventarioUnidades',
    data() {
      return {
        mostrar: false,
        id: null,
        editar: false,
        unidades: null,
        objs: [],
        columnas: [{
          name: 'value',
          label: 'Cotenido por caja',
          field: 'value',
          align: "left",
          sortable: true
        }],
        paginacion: {
          sortBy: "value",
          descending: false,
          rowsPerPage: 0 // spec
        }
      }
    },
    beforeMount() {
      this.$nextTick(() => {
        this.cargar()
      })
    },
    methods: {
      cargar() {
        Unidades.find({}, (e, docs) => {
          if (e) {
            this.$q.notify({
              message: "La base de datos se encuentra corrupta por manipulacion manual",
              position: "top-right"
            });
          }
  
          if (docs) {
            this.objs = docs
          }
  
        })
      },
      restablecer() {
        this.mostrar = false
        this.unidades = null
        this.editar = false
        this.id = null
      },
      guardar() {
        if (Number.isInteger(this.unidades)) {
          let doc = {
            label: 'x ' + this.unidades,
            value: this.unidades
          }
          if (this.editar) {
            Unidades.update({
              _id: this.id
            }, {
              $set: doc
            }, {}, (e, doc) => {
              console.log(e)
              console.log(doc)
              this.cargar()
              this.restablecer()
            })
          } else {
            Unidades.insert(doc, (e, doc) => {
              if (doc) {
                this.objs.push(doc)
                this.restablecer()
              }
            })
          }
        } else {
          this.$q.notify({
            message: 'Ingrese un numero valido',
            position: 'top-right'
          })
        }
      },
      tablaClic(row) {
        this.mostrar = true
        this.id = row._id
        this.unidades = row.value
        this.editar = true
      },
      eliminar(id) {
        this.$q.dialog({
          title:'Eliminar item',
          message: '¿Desea eliminar este item?',
          ok: 'Si, eliminar',
          cancel: 'No'
        }).then(() => {
          Unidades.remove({
            _id: id
          }, {}, (err, numRemove) => {
            if (err) {
              console.log(err);
              this.$q.notify("Algo salio mal, no se pudo eliminar")
            } else {
              if (!!numRemove == true) {
                this.cargar()
              } else {
                this.$q.notify("No se eliminó el item")
              }
            }
          })
        })
      },
      recargar(){
        window.location.reload()
      }
    }
  }
</script>

<style>
  
</style>
