// app global css

@font-face
    font-family 'Google Sans'
    font-style normal
    font-weight 400
    font-display auto
    src local('Google Sans Regular'),local('GoogleSans-Regular'),
    url(font/4UaGrENHsxJlGDuGo1OIlL3Kwp5MKg.woff2) format('woff2')
    unicode-range U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116

@font-face
    font-family 'Google Sans'
    font-style normal
    font-weight 400
    font-display auto
    src local('Google Sans Regular'),local('GoogleSans-Regular'),
    url(font/4UaGrENHsxJlGDuGo1OIlL3Nwp5MKg.woff2)format('woff2')
    unicode-range U+0370-03FF

@font-face
    font-family 'Google Sans'
    font-style normal
    font-weight 400
    font-display auto
    src local('Google Sans Regular'),local('GoogleSans-Regular'),
    url(font/4UaGrENHsxJlGDuGo1OIlL3Awp5MKg.woff2)format('woff2')
    unicode-range U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF

@font-face
    font-family 'Google Sans'
    font-style normal
    font-weight 400
    font-display auto
    src local('Google Sans Regular'),local('GoogleSans-Regular'),
    url(font/4UaGrENHsxJlGDuGo1OIlL3Owp4.woff2)format('woff2')
    unicode-range U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD

@font-face
    font-family 'Google Sans'
    font-style normal
    font-weight 500
    font-display auto
    src local('Google Sans Medium'),local('GoogleSans-Medium'),
    url(font/4UabrENHsxJlGDuGo1OIlLU94Yt3CwZ-Pw.woff2)
    format('woff2')
    unicode-range U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116

@font-face
    font-family 'Google Sans'
    font-style normal
    font-weight 500
    font-display auto
    src local('Google Sans Medium'),local('GoogleSans-Medium'),
    url(font/4UabrENHsxJlGDuGo1OIlLU94YtwCwZ-Pw.woff2)format('woff2')
    unicode-range U+0370-03FF

@font-face
    font-family 'Google Sans'
    font-style normal
    font-weight 500
    font-display auto
    src local('Google Sans Medium'),local('GoogleSans-Medium'),
    url(font/4UabrENHsxJlGDuGo1OIlLU94Yt9CwZ-Pw.woff2)format('woff2')
    unicode-range U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF

@font-face
    font-family 'Google Sans'
    font-style normal
    font-weight 500
    font-display auto
    src local('Google Sans Medium'),local('GoogleSans-Medium'),
    url(font/4UabrENHsxJlGDuGo1OIlLU94YtzCwY.woff2)format('woff2')
    unicode-range U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD

@font-face
    font-family 'Google Sans'
    font-style normal
    font-weight 700
    font-display auto
    src local('Google Sans Bold'),local('GoogleSans-Bold'),
    url(font/GoogleSans-Bold.woff2)format('woff2')

.q-if {
  background: #efefef !important;
  box-shadow: none !important;
}

.q-field-label {
    color: black;
    font-weight: 700
}