<template>
  <q-page>

    <div class="col-lg-12 col-xl-12">

      <div class="flex flex-center fixed bg-secondary" style="width:68px;top:0;bottom:0;box-shadow: inset -7px 0 9px -1px rgba(0,0,0,0.4);">
        <q-list class="no-border">
          <q-item to="/app/clientes" exact>
            <q-item-side 
              :color="$router.history.current.fullPath == '/app/clientes' ? 'white' : 'light'"
              :icon="$router.history.current.fullPath == '/app/clientes' ?  'icon-credito-fill' : 'icon-credito'">
              <q-tooltip>
                Creditos
              </q-tooltip>
            </q-item-side>
          </q-item>
          <q-item to="/app/clientes/clientes" exact>
            <q-item-side 
              :color="$router.history.current.fullPath.indexOf('/app/clientes/clientes') == 0 ? 'white' : 'light'"
              :icon="$router.history.current.fullPath.indexOf('/app/clientes/clientes') == 0 ? 'icon-cliente-fill' : 'icon-cliente'">
              <q-tooltip>
                Clientes
              </q-tooltip>
            </q-item-side>
          </q-item>
        </q-list>
      </div>
      

      

      <div style="margin-left:68px!important">
        <router-view />
      </div>
    </div>

  </q-page>
</template>

<style>

</style>

<script>
export default {
  name: "Clientes",
};
</script>