<template>
  <q-page>

    <div>

      <div class="flex flex-center fixed bg-secondary" style="width:68px;top:0;bottom:0;box-shadow: inset -7px 0 9px -1px rgba(0,0,0,0.4);">
      </div>


      <div style="margin-left:68px!important">
        <div class="row relative">
          <div class="col-lg-6 col-xl-6 offset-lg-3 offset-xl-4"> 
            <div class="row relative">




              <div class="q-mx-xl q-my-md" style="width:calc(100% - 80px)">
                <div class="row fixed bg-tertiary" style="z-index:200;width:100%;top:63px">
                  <div class="relative row q-pt-md q-pb-xs items-center">
                    <q-btn-group>
                      <q-btn icon="icon-nuevo" color="primary" @click="() => {mostrar = true}">
                        <q-tooltip>Crear deuda</q-tooltip>
                      </q-btn>
                      <q-btn  icon="icon-actualizar" @click.native="recargar" color="primary">
                        <q-tooltip>Actualiza deuda</q-tooltip>
                      </q-btn>
                    </q-btn-group>
                  </div>
                </div>

                <div class="row q-mt-xl">
                  <div class="col-xl-12 col-lg-12">
                    <q-list link class="round-borders shadow-2 bg-white no-border">
                      <q-list-header>
                        <q-item-tile class="text-black" label style="font-size:18px;font-weight:700">
                          Deudas $ {{(total).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}}
                        </q-item-tile>
                      </q-list-header>
                      <q-item  v-for="(value, index) in objs"  :key="index" @click.native="tablaClic(objs[(objs.length -1) - index])">
                        <q-item-side >
                          <q-item-tile letter>{{index + 1}}</q-item-tile>
                        </q-item-side>
                        <q-item-main :label="objs[(objs.length -1) - index].motivo" :sublabel="$moment.unix(objs[(objs.length -1) - index].fecha).format('MMMM DD [de] YYYY')"/>
                        <q-item-side right class="relative">
                          <q-item-tile title class="text-black" style="margin-right:48px">${{(objs[(objs.length -1) - index].valor).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}}</q-item-tile>
                          <q-item-tile class="absolute" style="right: 8px;top:12px" icon="icon-eliminar" color="negative" @click.native.stop="eliminar(objs[(objs.length -1) - index].fecha)"/>
                        </q-item-side>
                      </q-item>
                    </q-list>
                  </div>
                </div>

              </div>




            </div>
          </div>
        </div>
      </div>


    </div>

    <q-modal v-model="mostrar" no-esc-dismiss no-backdrop-dismiss>
      <div class="q-pa-md">
        <p><strong>{{editar ? 'Editar deuda': 'Nuevo deuda'}}</strong></p>
        <q-field label="Motivo">
          <q-input inverted-light v-model="motivo"/>
        </q-field>
        <q-field class="q-mt-md" label="Valor" style="color:black!important">
          <q-input type="number" prefix="$" inverted-light v-model="valor"/>
        </q-field>
        <div class="row justify-center">
          <q-btn-group class="q-mt-md">
            <q-btn color="primary" :label="editar ? 'Actualizar': 'Guardar'" @click="guardar"></q-btn>
            <q-btn color="primary" outline label="Cerrar" @click="restablecer"></q-btn>
          </q-btn-group>
        </div>
      </div>
    </q-modal>

    <q-page-sticky position="bottom-right" :offset="[32, 32]">
      <q-btn  size="lg" round color="primary" @click="() => {mostrar = true}" icon="add"/>
    </q-page-sticky>

  </q-page>
</template>

<script>
import {Deudas} from 'src/database'
export default {
  data(){
    return {
      editar: false,
      mostrar: false,
      id: 0,
      fecha: 0,
      objs:[],
      motivo: "",
      valor: 0,
      tempValor: 0,
      total: 0,
    }
  },
  mounted(){
    this.cargar()
  },
  methods:{
    cargar(){
      Deudas.find({},(e, docs) => {
        if(docs.length > 0){
          this.objs = JSON.parse(JSON.stringify(docs[0].objs))
          this.total = docs[0].total
          this.id = docs[0]._id
        }
      })
    },
    recargar(){
      window.location.reload()
    },
    tablaClic(item){
      this.mostrar = true
      this.editar = true
      this.tempValor = item.valor
      this.valor = item.valor
      this.motivo = item.motivo
      this.fecha = item.fecha
    },
    guardar(){
      if(this.editar){
        this.objs.forEach(item => {
          if(item.fecha == this.fecha){
            item.valor = this.valor
            item.motivo = this.motivo
            return
          }
        })
      }else {
        let doc = {
          motivo: this.motivo,
          valor: this.valor,
          fecha: this.$moment().unix()
        }
        this.objs.push(doc)
      }
      this.total = 0
      this.objs.forEach(element => {
          this.total = this.total + element.valor
      })
      if(this.id == 0){
        Deudas.insert({
          total: this.total,
          objs: JSON.parse(JSON.stringify(this.objs))
          }, (e,d) => {})
      }else {
        Deudas.update({_id : this.id}, {
          $set: {
            total: this.total,
            objs: JSON.parse(JSON.stringify(this.objs))
          }
        }, {upsert: true},(e,d) => {
          this.restablecer()
          this.cargar()
        })
      }
      this.restablecer()
    },
    restablecer(){
      this.editar = false
      this.mostrar = false
      this.tempValor = 0
      this.motivo = ''
      this.valor = 0
      this.fecha = 0
    },
    eliminar(fecha){
      this.$q.dialog({
        title: 'Eliminar deuda',
        message: 'Desea eliminar esta deuda?',
        ok: 'Si',
        cancel: 'No'
      }).then(() => {
        this.total = 0
        this.objs = this.objs.filter(element => {
          if(element.fecha !== fecha){
            this.total = this.total + element.valor
          }
          return element.fecha !== fecha
        })
        Deudas.update({_id: this.id},{$set:{
          total: this.total,
          objs: JSON.parse(JSON.stringify(this.objs))
        }},{multi:false})
      })
    }
  }
}
</script>

<style>
</style>
