<template>
  <q-page>
    <div class="col-lg-12 col-xl-12">

      <div class="flex flex-center fixed bg-secondary" style="width:68px;top:0;bottom:0;box-shadow: inset -7px 0 9px -1px rgba(0,0,0,0.4);">
        <q-list class="no-border">
          <q-item to="/app/inventario" exact>
            <q-item-side :color="$router.history.current.fullPath == '/app/inventario' ? 'white' : 'light'"
              icon="icon-resumen">
              <q-tooltip>
                Resumen
              </q-tooltip>
            </q-item-side>
          </q-item>
          <q-item to="/app/inventario/inventario">
            <q-item-side :color="$router.history.current.fullPath.indexOf('/app/inventario/inventario') == 0 ? 'white' : 'light'" 
              :icon="$router.history.current.fullPath.indexOf('/app/inventario/inventario') == 0 ? 'icon-inventario_fill' : 'icon-inventario'">
              <q-tooltip>
                Inventario
              </q-tooltip>
            </q-item-side>
          </q-item>
          <q-item to="/app/inventario/productos" exact>
            <q-item-side :color="$router.history.current.fullPath == '/app/inventario/productos' ? 'white' : 'light'"
              :icon="$router.history.current.fullPath == '/app/inventario/productos' ? 'icon-cerveza_fill' : 'icon-cerveza'">
              <q-tooltip>
                Productos
              </q-tooltip>
            </q-item-side>
          </q-item>
          <q-item to="/app/inventario/configuracion">
            <q-item-side :color="$router.history.current.fullPath.indexOf('/app/inventario/configuracion') == 0 ? 'white' : 'light'"
              :icon="$router.history.current.fullPath.indexOf('/app/inventario/configuracion') == 0 ? 'icon-configuracion_fill' : 'icon-configuracion'">
              <q-tooltip>
                Configuracion
              </q-tooltip>
            </q-item-side>
          </q-item>
        </q-list>
      </div>
      

      

      <div style="margin-left:68px!important">
        <router-view />
      </div>

      
    </div>
  </q-page>
</template>

<style>

</style>

<script>
export default {
  name: "Inventario",
};
</script>
