<template>
  <q-layout>
    <q-page-container>
      <img class="login-background" src="statics/login.png"/>
      <div class="login-background-efect"></div>
      <h5 style="text-shadow: 2px 1px 14px rgba(0, 0, 0, 0.8);font-size:14px;position: absolute;color: white;bottom: 150px;left: 0;right: 0;width: 100%;text-align: center;">JCesar.co © 2018 | Version Personalizada</h5>
      <q-page padding class="flex flex-center">
        <div class="row round-borders" style="max-width:850px;width:100%">
          <div class="col-lg-6 col-xl-6 q-pa-lg" style="background: linear-gradient(45deg, rgb(56,14,138) 0%, rgb(182,33,213) 100%);">
            <img style="margin:auto; width:50px;display:block" src="statics/logo.png" alt="">
            <p class="text-center" style="font-size:24px;color:rgba(255,255,255,1);font-weight:700">Venta Facil</p>
            <p class="text-center" style="font-size:18px;color:rgba(255,255,255,0.85)">Revoluciona tu negocio, lleva el control de tu negocio a donde vayas con un software de ultima tecnologia.</p>
          </div>
          <div class="col-lg-6 col-xl-6">
            <q-card class="card-login bg-white shadow-4" style="background:#222!important">
              <q-card-title class="text-white">
                Inicio de sesion
              </q-card-title>
              <q-card-main class="q-px-xl">
                <br>
                <q-input @keydown.enter="teclaEnter" class="round-borders" inverted color="white" v-model="correo" type="email" placeholder="Correo" clearable style="background:#424242 !important"/>
                <br>
                <q-input @keydown.enter="teclaEnter" class="round-borders" inverted color="white" v-model="clave" type="password"  placeholder="Contraseña" clearable style="background:#424242 !important"/>
                <br>
              </q-card-main>
              <q-card-actions class="q-px-md q-pb-md q-pt-md" style="background:#1e1f21">
                <q-btn-group class="no-shadow">
                  <q-btn label="Iniciar sesion" :loading="loading" color="white" text-color="primary" @click="login" :disable="!isEmail(correo) || !(clave != null ? (clave.length > 0 ? true : false) : false)" />
                  <q-btn label="Recuperar contraseña" color="white" outline class="no-margin" @click="resetPassword"/>
                </q-btn-group>
              </q-card-actions>
            </q-card>

          </div>
        </div>
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<script>
var shell = require('electron').shell;
function getBIOSSerialNumber(calback) {
  var sys = require("util");
  var exec = require("child_process").exec;
  //console.log(sys.inspect(stdout, {showHidden: false, depth: null}))
  exec("WMIC BIOS GET SERIALNUMBER", calback);
}
import http from "src/funciones/http";
import { LocalStorage } from "quasar";
import db from "src/database";
export default {
  data() {
    return {
      correo: "",
      clave: "",
      loading: false
    };
  },
  methods: {
    login() {
     // if (process.env.DEV) {
     //   this.$router.push("/vender");
     // }
      //else{
        this.loading = true;
        let cons = LocalStorage.get.item("cuentaProducto");
        let u = LocalStorage.get.item("usuario");
        if (u && cons) {
          if (u.consultado == this.$moment().format("DD/MM/YYYY") && u.correo == this.correo && u.contraseña == this.clave ) {
            if (cons.estado == true || this.$moment().unix() < cons.activaHasta) {
              this.$router.push("/vender");
            } else {
              this.$q.notify("esta cuenta se encuentra inhabilitada");
            }
          } else {
            this.auth();
          }
        } else {
          this.auth();
        }
      //}
    },
    auth() {
      this.$auth
        .signInWithEmailAndPassword(this.correo, this.clave)
        .then(result => {
          LocalStorage.set("usuario", result.user);
          this.consultar();
        })
        .catch(error => {
          this.loading = false;
          var errorCode = error.code;
          let msj = "";
          switch (errorCode) {
            case "auth/user-not-found":
              msj =
                "No existe ningún registro de usuario que corresponda al identificador proporcionado.";
              break;
            case "auth/invalid-email":
              msj =
                "El correo que se proporcionó debe ser una dirección de correo electrónico";
              break;
            case "auth/wrong-password":
              msj =
                "La contraseña no es válida o el usuario no tiene una contraseña.";
              break;
            default:
              msj = error.message;
              break;
          }
          this.$q.notify({
            message: msj,
            type: "negative",
            timeout: 6000
          });
        });
    },
    link(url){
      shell.openExternal(url);
    },
    consultar() {
      http(
        "getInfoUser",
        null,
        result => {
          let user = result.datos;
          user.contraseña = this.clave;
          user.consultado = this.$moment().format('DD/MM/YYYY')
          let cuenta = result.datos.cuentum;
          delete user.cuentum;
          LocalStorage.set("usuario", user);
          LocalStorage.set("cuenta", cuenta);

          let ok = false;
          user.productos.forEach(item => {
            if (item.producto == 5) {
              ok = true;
              return;
            }
          });

          if (ok == true) {
            http(
              null,
              { cuenta: user.cuentaId, producto: 5 },
              result => {
                console.log(result);
                if (result.datos != null) {
                  let cuentaProducto = result.datos;
                  let producto = cuentaProducto.producto;
                  delete cuentaProducto.producto;

                  LocalStorage.set("cuentaProducto", cuentaProducto);
                  LocalStorage.set("producto", producto);

                  if (this.validarCuenta()) {
                    getBIOSSerialNumber((err, stdout, stderr) => {
                      let serial = stdout.substring(12).trim();
                      if (cuentaProducto.dispositivos.length != 0) {
                        ok = false;
                        cuentaProducto.dispositivos.forEach(item => {
                          if (item.id == serial) {
                            ok = true;
                            return;
                          }
                        });

                        if (ok) {
                          this.$router.push("/vender");
                        } else {
                          if (
                            cuentaProducto.limite >
                            cuentaProducto.dispositivos.length
                          ) {
                            this.registrarEquipo(serial, cuentaProducto);
                          } else {
                            this.$q.notify(
                              "La cuenta a llegado a limite permitido de dispositivos para este producto"
                            );
                            this.reset()
                          }
                        }
                      } else {
                        this.registrarEquipo(serial, cuentaProducto);
                      }
                    });
                  } else {
                    this.$q.notify('La cuenta asociada no tiene acceso a este producto, verifique la suscripcion')
                    this.reset()
                  }
                } else {
                  this.$q.notify(
                    "Al parece tu cuenta no tiene registrado este producto"
                  );
                  this.reset()
                }
              },
              e => {
                console.log(e);
                this.$q.notify(e)
                this.reset()
              }
            );
          } else {
            this.$q.notify("No tienes habilitado el uso de de este producto");
            this.reset()
          }
        },
        e => {
          console.log(e);
          this.$q.notify(e)
          this.reset()
        }
      );
    },
    registrarEquipo(serial, cuenta) {
      
      http('registrarDispositivo', {id: cuenta.id, serial: serial}, result => {
        cuenta.dispositivos.push({
          id: serial
        })
        LocalStorage.set('cuentaProducto', cuenta)
        this.$router.push('/vender')
      }, e => {
        console.log(e)
        this.$q.notify(e)
        this.reset()
      })
    },
    validarCuenta() {
      let cuenta = LocalStorage.get.item("cuentaProducto");
      let ok = false;
      if (cuenta) {
        if (
          cuenta.activaHasta > this.$moment().unix() &&
          cuenta.estado == true
        ) {
          ok = true;
        }
      }
      if(ok == false){
        LocalStorage.remove('usuario')
        LocalStorage.remove('cuenta')
        LocalStorage.remove('cuentaProducto')
        LocalStorage.remove('producto')
      }
      return ok;
    },
    isEmail(correo) {
      var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(correo);
    },
    reset(){
      this.loading = false,
      this.clave = null
    },
    resetPassword(){
      let el = this
      this.$auth.sendPasswordResetEmail('olivarcristian30@hotmail.com').then(function() {
        LocalStorage.remove('usuario')
        el.$q.dialog({
          title: 'Restablecer contraseña',
          message: 'Se ha enviado un link al correo olivar***@***mail.com'
        })
      }).catch(err => {
        el.$q.dialog({
          title: 'Restablecer contraseña',
          message: 'No se pudo enviar el correo para restablecer contraseña'
        })
      })
    },
    teclaEnter() {
      let ok =
        !this.isEmail(this.correo) ||
        !(this.clave != null ? (this.clave.length > 0 ? true : false) : false);
      console.log(ok);
      if (!ok) {
        this.login();
      }
    }
  }
};
</script>

<style>
.login-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}
.login-background-efect{
  content:' ';
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(130deg, rgba(56,14,138,0.75) 0%,rgba(182,33,213,0.1) 100%);
}

.card-login {
  max-width: 500px;
  width: 100%;
}
</style>
