<template>
  <q-layout class="bg-tertiary">

    <span class="fixed" style="bottom: 50px;left: -11px; z-index: 100;transform: rotate(270deg);color: rgba(255,255,255,0.1);font-weight: 700;font-size: 18px;">JCesar.co</span>

  <div class="fixed bg-secondary" style="top:0;bottom:0;left:0;width:68px;box-shadow: inset -7px 0 9px -1px rgba(0,0,0,0.4);">
    <div class="row">
      <img src="statics/logo.png" class="q-ml-xs" height="48px" style="margin-left:10px;margin-top:10px;margin-bottom:5px" alt="">
    </div>
    <div class="row">
      <div class="flex flex-center">
        <q-list class="no-border">
          <q-item to="/vender">
            <q-item-side color="light"  icon="icon-vender-fill">
              <q-tooltip class="bg-dark">
                Vender
              </q-tooltip>
            </q-item-side>
          </q-item>
          <q-item to="/pedidos">
            <q-item-side color="white" icon="icon-pedido1">
              <q-tooltip class="bg-dark">
                Pedidos
              </q-tooltip>
            </q-item-side>
          </q-item>
          <q-item to="/app/deudas">
            <q-item-side color="light" icon="icon-deuda">
              <q-tooltip class="bg-dark">
                Deudas
              </q-tooltip>
            </q-item-side>
          </q-item>
          <q-item to="/app/banco">
            <q-item-side color="light" icon="icon-banco">
              <q-tooltip class="bg-dark">
                Banco
              </q-tooltip>
            </q-item-side>
          </q-item>
          <q-item to="/app/clientes">
            <q-item-side color="light" icon="icon-clientes">
              <q-tooltip class="bg-dark">
                Clientes
              </q-tooltip>
            </q-item-side>
          </q-item>
          <q-item to="/app/inventario">
            <q-item-side color="light" icon="icon-inventario">
              <q-tooltip class="bg-dark">
                Inventario
              </q-tooltip>
            </q-item-side>
          </q-item>
          <q-item  @click.native="link('https://jcesar.co/plataforma/entrar')">
            <q-item-side color="light" icon="icon-cuenta">
              <q-tooltip class="bg-dark">
                Cuenta
              </q-tooltip>
            </q-item-side>
          </q-item>
        </q-list>
      </div>
    </div>
  </div>




    <q-page-container style="margin-left:68px">

      <q-page>

        <div class="row">
          <div class="col-lg-8 col-xl-8 q-pa-lg">

            <div class="row bg-tertiary ">
              <p style="font-size:18px"><strong>Pedidos pendientes</strong></p>
            </div>

            <div class="grid bg-white round-borders shadow-2 wrap q-mt-xs q-pa-xl" v-if="objs.length == 0" style="width: calc(100% - 25px);">
              <div class="row">
                <p style="font-size: 18px"><strong>No hay pedidos pendientes por hacer</strong> </p>
              </div>
            </div>

            <div v-else class="fixed" style="width: calc(66.6667% - 115px);overflow-y:auto;bottom:16px;top:16px">
              <q-table  class="bg-white q-mt-xl q-pr-md " :data="objs" :columns="columnas" row-key="name" :pagination.sync="paginacion">
                <q-tr slot="body" slot-scope="props" :props="props" style="cursor:pointer" @click="verPedido(porps.row)">
                  <q-td key="fecha" :props="props" >
                    {{$moment.unix(props.row.fecha).format('MMMM DD [de] YYYY')}}
                  </q-td>
                  <q-td key="cliente" :props="props" >
                    {{(props.row.cliente.nombre == null ? props.row.cliente.razonSocial : props.row.cliente.nombre + ' ' + props.row.cliente.apellido)}}
                  </q-td>
                  <q-td key="total" :props="props">
                    ${{(props.row.total).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}}
                  </q-td>
                  <q-td key="despachado" auto-width>
                    <q-checkbox v-model="props.row.despachado" :label="props.row.despachado ? 'Si' : 'No'" @input="quitarDespachado(props.row)"></q-checkbox>
                  </q-td>
                  <q-td auto-width>
                    <q-btn color="negative" outline class="no-border" icon="icon-eliminar" @click="eliminarPedido(props.row)"/>
                  </q-td>
                </q-tr>
              </q-table>
            </div>

          </div>

          <div v-if="pedido.length" class="fixed offset-lg-8 offset-xl-8 col-lg-4 col-xl-4" style="top:0;right:0;bottom:0;box-shadow: inset 7px 0 9px -5px rgba(0,0,0,0.4);">
            
            <div v-if="cliente != null" class="row no-wrap bg-white q-pa-md" style="max-height:64px">
              <div class="col-xl-12 col-lg-12" >
                <div class="row">
                  <div class="col-lg-2 col-xl-1">
                    <img src="statics/default-user.png" class="q-ml-xs" height="38px" style="border-radius:100%;display:inline-block">
                  </div>
                  <div class="col-9">
                    <p style="margin:0;font-size:15px; font-weight:700">{{ (cliente.nombre == null ? cliente.razonSocial : cliente.nombre + ' ' + cliente.apellido )}}</p>
                    <p style="margin:0; font-size:13px">{{cliente.cedula}}</p>
                  </div>
                </div>              
              </div>            
            </div>

            <q-list separator class="fixed" link no-border style="bottom:72px;top:64px;width: 33.3333%;right:0;overflow-y:auto;">
              <q-list-header>
                <q-item-tile style="color:black; font-size:24px">Lista de productos</q-item-tile>
              </q-list-header>
              <q-item class="bg-white" v-for="(item, index) in pedido" :key="index" style="box-shadow: inset 7px 0 9px -5px rgba(0,0,0,0.4);">
                <q-item-side  >
                  <q-item-tile letter inverted color="primary">
                    {{item.vendidas}}
                  </q-item-tile>
                </q-item-side>
                <q-item-main>
                  <q-item-tile title>
                    <strong>{{item.nombre}}</strong>
                  </q-item-tile>
                  <q-item-tile sublabel>
                    {{item.caja == 'Botella plastica' ? '' : item.caja}} x {{item.unidades}} uds x {{item.contenido}} c/u
                  </q-item-tile>
                </q-item-main>
                <q-item-side right class="relative">
                  <q-item-main>
                    <q-item-tile title>
                    <strong>${{ (item.total).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') }}</strong>
                    </q-item-tile>
                    <q-item-tile sublabe sublabel-lines="1">
                      ${{(item.precio).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}}
                    </q-item-tile>
                  </q-item-main>
                </q-item-side>
              </q-item>
              <q-item class="bg-white" v-for="(envace, j) in obj.envace" :key="j+20" v-if="envace.cantidad > 0" style="box-shadow: inset 7px 0 9px -5px rgba(0,0,0,0.4);">
                <q-item-side>
                  <q-item-tile letter inverted color="primary">
                    {{envace.cantidad}}
                  </q-item-tile>
                </q-item-side>
                <q-item-main>
                  <q-item-tile title>
                    <strong>{{envace.nombre}}</strong>
                  </q-item-tile>
                </q-item-main>
                <q-item-side right class="relative">
                  <q-item-main>
                    <q-item-tile title>
                    <strong>${{ (envace.total).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') }}</strong>
                    </q-item-tile>
                    <q-item-tile sublabe sublabel-lines="1">
                      ${{(envace.precio).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}}
                    </q-item-tile>
                  </q-item-main>
                </q-item-side>
              </q-item>
              <q-item class="bg-white" v-if="obj.domicilio > 0" style="box-shadow: inset 7px 0 9px -5px rgba(0,0,0,0.4);">
                <q-item-main>
                  <q-item-tile title>
                    <strong>Domicilio</strong>
                  </q-item-tile>
                </q-item-main>
                <q-item-side right>
                  <q-item-tile title>
                    ${{(obj.domicilio).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}}
                  </q-item-tile>
                </q-item-side>
              </q-item>
            </q-list>

            <div class="absolute row justify-center bg-white shadow-up-8 q-pt-xs" style="bottom:0px;top:calc(100% - 72px);right:0;left:0;box-shadow: inset 7px 0 9px -5px rgba(0,0,0,0.4);z-index:100">
              <q-btn-group class="q-my-md">
                <q-btn color="primary" outline label="Editar" @click="editar(obj)"/>
                <q-btn color="primary" outline label="Imprimir" @click="imprimir"/>
              </q-btn-group>
            </div>

          </div>
        </div>

      </q-page>

    </q-page-container>
  </q-layout>
</template>

<script>
const formatter = new Intl.NumberFormat('en-US', {
  style: 'currency',
  currency: 'USD',
  minimumFractionDigits: 0
})
import path from 'path'
var shell = require('electron').shell;
var fs = require('fs');
import {Pedidos, Disponible} from 'src/database'
export default {
  name: 'PedidosPendientes',
  data(){
    return{
      objs:[],
      pedido:[],
      obj: null,
      columnas:[
        {
          name: 'fecha',
          field: 'fecha',
          label: 'Fecha',
          align: 'left'
        },
        {
          name: 'cliente',
          field: 'cliente',
          label: 'cliente'
        },
        {
          name: 'total',
          field: 'total',
          label: 'Total',
          align: 'right'
        },
        {
          name: 'despachado',
          field: 'despachado',
          label: 'Despachado',
          align: 'center'
        }
      ],
      paginacion:{
        sortBy: null,
        page:1,
        rowsPerPage: 0 
      },
      cliente: null
    }
  },
  mounted(){
    this.cargar()
    this.$q.localStorage.remove('pedido')
  },
  methods:{
    link(url){
      shell.openExternal(url);
    },
    cargar(){
      this.pedido = []
      Pedidos.find({despachado: false}, (e, docs) => {
        if(docs.length > 0){
          this.objs = JSON.parse(JSON.stringify(docs))
          this.pedido = this.objs[0].objs
          this.cliente = this.objs[0].cliente
          this.obj = JSON.parse(JSON.stringify(this.objs[0]))
        }else {
          this.objs = []
          this.pedido = []
          this.cliente = null
        }
      })
    },
    verPedido(pedido){
      this.cliente = pedido.cliente
      this.pedido = pedido.objs
      this.obj = JSON.parse(JSON.stringify(pedido))
    },
    quitarDespachado(pedido){
      document.relo
      Pedidos.update({_id: pedido._id},{$set: {despachado: pedido.despachado}},{multi:false}, (e,d) => {
        location.reload();
      })
      /*if(pedido.despachado == true){
        this.$q.dialog({
          title: 'Eliminar pedido',
          message: '¿Desea eliminar el pedido?',
          ok: 'Si',
          cancel: 'No'
        }),then(()=> {
          this.eliminarPedido(pedido)
        }).catch(()=>{
          this.cargar()
        })
      }*/
      
    },
    eliminarPedido(pedido){
      this.$q.dialog({
        title:'Eliminar pedido',
        message: '¿Desea el pedido?',
        ok: 'Si',
        cancel: 'No'
      }).then(() => {
        if(pedido.despachado){
          Pedidos.remove({_id: pedido._id}, {})
          this.cargar()
        } else{
          let inicial = this.$moment().startOf('day').unix()
          let final = this.$moment().endOf('day').unix()
          if(pedido.fecha >= inicial && pedido.fecha <= final){
            this.pedido.forEach(item => {
              Disponible.findOne({_id: item._id}, (e, doc) => {
                if(doc != null){
                  let d = JSON.parse(JSON.stringify(doc))
                  d.actual = d.actual + item.vendidas
                  Disponible.update({_id: item._id}, {$set: d})
                }
              })
            })
          }
          Pedidos.remove({_id: pedido._id}, {})
          this.cargar()
        }
      })
    },
    editar(pedido){
      this.$q.localStorage.set('pedido', pedido)
      this.$router.push('/vender')
    },
    imprimir(){
      var r = null

      if (process.env.DEV) {
          r = __dirname
      } else {
          r = global.__dirname
          r = r.substring(0,r.indexOf('electron.asar') - 1)
      }

      let factura = path.join(r, 'factura.html')

      console.log(this.obj)

      let html = `
      <!DOCTYPE html>
      <html lang="es">
        <head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <meta http-equiv="X-UA-Compatible" content="ie=edge">
          <title>JCesar</title>
          <style>
            @page {
              size: auto;   
              margin: 0mm;
            }
            body {
              font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
              color:black
            }
            p{
              margin:0px
            }
            .factura{
              font-size:12px;
              max-width:80mm;
              width:100%;
              margin:auto;
            }
            .factura .cabecera {
              text-align:center
            }
          </style>
        </head>
        <body>
          <div class="factura">
            <div class="cabecera">
               <p><strong>Distribuciones Olivar Sur S.A.S</strong></p>
                <p style="margin-top:2px">Calle 1 No.16-23 - Aguachica - Cesar </p>
                <p style="margin-top:2px">Nit. 900524584 - 3</p>
                <p style="max-width:80mm;text-overflow: clip;white-space: nowrap;overflow: hidden;">******************************************************</p>
                <p style="line-height: 0;">Servicio a domicilio</p>
                <p style="margin-top: 9px;">3156952600 - 317450498 - 5653103</p>
                <p style="max-width:80mm;text-overflow: clip;white-space: nowrap;overflow: hidden;">******************************************************</p>
                <br/>
                <p>Cliente: ` + (this.obj.cliente.razonSocial != null && this.obj.cliente.razonSocial != undefined ? this.obj.cliente.razonSocial : this.obj.cliente.nombre + ' ' + this.obj.cliente.apelllido ) + `</p>
                <br/>
                <p>` + this.$moment.unix(this.obj.fecha).format("MMMM DD [de] YYYY") + `<p/>
                <br/>
                <table style="width:100%;border-spacing: 5px;border-collapse: separate;">
                  <tr>
                    <th style="border-bottom:1pt dashed black;" align="left">Descripcion</th>
                    <th style="border-bottom:1pt dashed black;" align="right">Valor</th>
                    <th style="border-bottom:1pt dashed black" align="center">#</th>
                    <th style="border-bottom:1pt dashed black;" align="right">Total</th>
                  </tr>
                  ` +
                  this.pedido.map(item => {
                    return '<tr><td align="left">' + item.nombre + ' ' + item.caja + ' x' + item.unidades + ' unds x' + item.contenido + '</td>' + 
                    '<td  align="right">' + formatter.format(item.precio)  + '</td><td align="center">' + item.vendidas + '</td><td align="right">' + formatter.format(item.total) + '</td></tr>'
                  })
                  +
                  (this.obj.envace[0].cantidad != 0 && this.obj.envace[0].cantidad != undefined ? '<tr><td align="left">Caja envace x 30 botellas</td><td align="right">$6,000</td><td align="center">'+this.obj.envace[0].cantidad+'</td><td align="right">'+ formatter.format(this.obj.envace[0].cantidad * 6000) +'</td></tr>': '') 
                  +
                  (this.obj.envace[1].cantidad != 0 && this.obj.envace[1].cantidad != undefined ? '<tr><td align="left">Caja envace x 38 botellas</td><td align="right">$6,800</td><td align="center">'+this.obj.envace[1].cantidad+'</td><td align="right">'+ formatter.format(this.obj.envace[1].cantidad * 6800) +'</td></tr>': '') 
                  +
                  (this.obj.envace[2].cantidad != 0 && this.obj.envace[2].cantidad != undefined ? '<tr><td align="left">Caja envace x 16 botellas</td><td align="right">$9,400</td><td align="center">'+this.obj.envace[2].cantidad+'</td><td align="right">'+ formatter.format(this.obj.envace[2].cantidad * 9400) +'</td></tr>': '') 
                  +
                  (this.obj.envace[5].cantidad != 0 && this.obj.envace[5].cantidad != undefined ? '<tr><td align="left">Caja plastica vacia</td><td align="right">$3,000</td><td align="center">'+this.this.obj.envace[5].cantidad+'</td><td align="right">'+ formatter.format(this.obj.envace[5].cantidad * 3000) +'</td></tr>': '') 
                  +
                  (this.obj.envace[3].cantidad != 0 && this.obj.envace[3].cantidad != undefined ? '<tr><td align="left">Botella de vidrio retornable</td><td align="right">$100</td><td align="center">'+this.obj.envace[3].cantidad+'</td><td align="right">'+ formatter.format(this.obj.envace[3].cantidad * 100) +'</td></tr>': '') 
                  +
                  (this.obj.envace[4].cantidad != 0 && this.obj.envace[4].cantidad != undefined ? '<tr><td align="left">Botella de vidrio 750 ml retornable</td><td align="right">$400</td><td align="center">'+this.obj.envace[4].cantidad+'</td><td align="right">'+ formatter.format(this.obj.envace[4].cantidad * 400) +'</td></tr>': '') 
                  +
                  (this.obj.domicilio != 0 ? '<tr><td align="left">Domicilio</td><td align="right"></td><td align="center"></td><td align="right">'+ formatter.format(this.obj.domicilio) +'</td></tr>': '')
                  + `
                  <tr>
                    <th style="border-top:1pt dashed black;">&nbsp;&nbsp;&nbsp;</th>
                    <th style="border-top:1pt dashed black;" align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <th style="border-top:1pt dashed black" align="center">&nbsp;&nbsp;&nbsp;</th>
                    <th style="border-top:1pt dashed black;" align="right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                  </tr>
                  <tr>
                    <th align="left">Total:</th>
                    <th align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <th align="center">&nbsp;&nbsp;&nbsp;</th>
                    <th align="right">` + formatter.format(this.obj.total) + `</th>
                  </tr>
                </table>

                <br/>

                <p style="ext-align:center;font-size:12px"><strong>www.jcesar.co</strong></p>
                <p style="text-align:center;font-size:9px">Desarrollo Profesional de sitios, apps y sistemas.</p>
                
            </div>
            
          </div>
        <script>window.print();<`
      html = html + '/script></body></html>'
      fs.writeFileSync(factura, html, 'utf-8');
      shell.openExternal(factura);
    }
  }
}
</script>

<style>
</style>
