<template>
	<q-layout>
		<q-page-container class="bg-primary">
			<q-page padding class="flex flex-center">
	
				<div class="row">
					<table width="500px">
						<tr align="center">
							<td>
								<h3 class="text-white no-margin"><strong>Venta Facil</strong></h3>
							</td>
						</tr>
						<tr align="center">
							<td>
								<h5 class="text-white no-margin">{{estado}}</h5>
							</td>
						</tr>
						<tr>
							<td>
								<q-progress :percentage="progress" :buffer="buffer" animate style="height: 5px" color="white" />
							</td>
						</tr>
					</table>
	
	
				</div>
	
			</q-page>
		</q-page-container>
	</q-layout>
</template>

<script>
import defaultUnidades from 'src/default/unidades'
import defaultContenido from 'src/default/contenido'
import defaultProductos from 'src/default/productos'
import {LocalStorage} from 'quasar'
import {Inventario,Contenido,Unidades, Productos, Disponible} from 'src/database'

/*var minWidth = 1280;
var minHeight = 720;
var ratio = 1;
if (window.outerWidth < window.innerWidth) {
  ratio = window.outerWidth / window.innerWidth;
}
require('electron').remote.getCurrentWindow().setMinimumSize(Math.round(ratio * minWidth), Math.round(ratio * minHeight));*/

var timer
export default {
	data() {
		return {
			estado: 'Espere',
			progress: 0,
			buffer: 100

		};
	},
	beforeDestroy() {
		if (timer != null) {
			clearInterval(timer)
		}
	},
	beforeMount() {
		this.estado = 'Preparando'
		this.$nextTick(() => {

			this.configurarInventario()

			this.estado = 'Buscando fecha'

			let fecha = this.$moment().startOf("day")

			let primeraVez = LocalStorage.get.item('primeraVez')
			if(primeraVez == null || primeraVez == undefined){
				LocalStorage.set('primeraVez', true)
			} else {
				if(primeraVez == true){
					LocalStorage.set('primeraVez', false)
				}
			}

			LocalStorage.set('fecha', fecha.toDate())

			let ultimo = LocalStorage.get.item('ultimo')
			if (ultimo) {
				this.estado = 'Consultando ultimo inventario'
				let fechaUltimoInventario = this.$moment(ultimo)

				let diferencia = fecha.diff(fechaUltimoInventario, 'days')

				if (diferencia > 0) {
					Disponible.remove({},{multi:true})
					let ultimoArchivo = fechaUltimoInventario.format('MMMM_YYYY')
					let archivo = fecha.format('MMMM_YYYY')

					let db1Lata = 'lata_' + ultimoArchivo
					let db1Botella = 'botella_' + ultimoArchivo
					let db1Plastico = 'plastico_' + ultimoArchivo
					let db1Envace = 'envace_' + ultimoArchivo

					let db2Lata = 'lata_' + archivo
					let db2Botella = 'botella_' + archivo
					let db2Plastico = 'plastico_' + archivo
					let db2Envace = 'envace_' + archivo

					this.estado = 'Verificando inventario'
					this.cargarInventario(db1Lata, db2Lata, fechaUltimoInventario.unix(), fecha.unix(), 'lata')
					this.cargarInventario(db1Botella, db2Botella, fechaUltimoInventario.unix(), fecha.unix(), 'botella')
					this.cargarInventario(db1Plastico, db2Plastico, fechaUltimoInventario.unix(), fecha.unix(), 'plastico')
					this.cargarInventario(db1Envace, db2Envace, fechaUltimoInventario.unix(), fecha.unix(), 'envace')
					timer = setInterval(() => {
						this.progress = this.progress + 1
						if (this.buffer >= 0) {
							this.buffer = this.buffer - 1.5
						}

					}, 600)

					setTimeout(() => {
						LocalStorage.set('ultimo', fecha.toDate())
						location.reload()
					}, 60000)
				} else{
					this.$router.push('/entrar')
				}

			} else {
				this.$router.push('/entrar')
			}

		});
	},
	methods: {
		cargarInventario(db1, db2, f1, f2, caja) {
			let mes = false

			let data1
			let data2

			if (db1 == db2) {
				data1 = Inventario(db1)
				data2 = data1
			} else {
				data1 = Inventario(db1)
				data2 = Inventario(db2)
			}

			data1.findOne({
				fecha: f1
			}, (e, doc) => {
				if (doc) {
					let objs = JSON.parse(JSON.stringify(doc.objs))

					let o = []
					if (caja != 'envace') {
						objs.forEach(element => {
							element = JSON.parse(JSON.stringify(element))
							element.inicial = element.actual
							element.entrada = 0
							element.total = 0
							element.vendidas = 0
							o.push(element)
						});
					} else {
						objs.forEach(element => {
							element = JSON.parse(JSON.stringify(element))
							element.inicial = element.actual
							element.diferencia = 0
							element.total = 0
							o.push(element)
						})
					}

					let d = {
						objs: o,
						total: 0,
						fecha: f2
					}

					data2.update({
						fecha: f2
					}, d, {
						upsert: true
					}, () => {})

				}
			})
		},
		configurarInventario(){
			Contenido.find({}, (e, docs) =>{
				if(docs.length == 0){
					Contenido.insert(defaultContenido, (e) => {

					})
				}
			})
			Unidades.find({}, (e, docs) => {
				if(docs.length == 0){
					Unidades.insert(defaultUnidades, (e) => {
						
					})
				}
			})
			Productos.find({}, (e, docs) =>{
				if(docs.length == 0){
					Productos.insert(defaultProductos, (e) => {
						
					})
				}
			})
		}
	}
};
</script>

<style>
	
</style>
