<template>
<q-layout class="bg-tertiary">

  <span class="fixed" style="bottom: 50px;left: -11px; z-index: 100;transform: rotate(270deg);color: rgba(255,255,255,0.1);font-weight: 700;font-size: 18px;">JCesar.co</span>

  <div class="fixed bg-secondary" style="top:0;bottom:0;left:0;width:68px;box-shadow: inset -7px 0 9px -1px rgba(0,0,0,0.4);">
    <div class="row">
      <img src="statics/logo.png" class="q-ml-xs" height="48px" style="margin-left:10px;margin-top:10px;margin-bottom:5px" alt="">
    </div>
    <div class="row">
      <div class="flex flex-center">
        <q-list class="no-border">
          <q-item to="/vender">
            <q-item-side color="white" icon="icon-vender-fill">
              <q-tooltip class="bg-dark">
                Vender
              </q-tooltip>
            </q-item-side>
          </q-item>
          <q-item to="/pedidos">
            <q-item-side color="light" icon="icon-pedido1-fill">
              <q-tooltip class="bg-dark">
                Pedidos
              </q-tooltip>
            </q-item-side>
          </q-item>
          <q-item to="/app/deudas">
            <q-item-side color="light" icon="icon-deuda">
              <q-tooltip class="bg-dark">
                Deudas
              </q-tooltip>
            </q-item-side>
          </q-item>
          <q-item to="/app/banco">
            <q-item-side color="light" icon="icon-banco">
              <q-tooltip class="bg-dark">
                Banco
              </q-tooltip>
            </q-item-side>
          </q-item>
          <q-item to="/app/clientes">
            <q-item-side color="light" icon="icon-clientes">
              <q-tooltip class="bg-dark">
                Clientes
              </q-tooltip>
            </q-item-side>
          </q-item>
          <q-item to="/app/inventario">
            <q-item-side color="light" icon="icon-inventario">
              <q-tooltip class="bg-dark">
                Inventario
              </q-tooltip>
            </q-item-side>
          </q-item>
          <q-item  @click.native="link('https://jcesar.co/plataforma/entrar')">
            <q-item-side color="light" icon="icon-cuenta">
              <q-tooltip class="bg-dark">
                Cuenta
              </q-tooltip>
            </q-item-side>
          </q-item>
        </q-list>
      </div>
    </div>
  </div>

  <q-page-container style="margin-left:68px">
    <q-page>
      <div class="row">
        <div class="col-lg-8 col-xl-8 q-pa-lg">

          <div class="row fixed bg-tertiary q-py-xs" style="top:5px;z-index:100;width: calc((100% - 33.333%) - 95px);">
            <q-btn-group class="q-mr-md">
              <q-btn color="primary" icon="icon-actualizar">
                <q-tooltip class="bg-dark">
                  Actualizar
                </q-tooltip>
              </q-btn>
            </q-btn-group>
            <q-search color="primary" v-model="buscar" inverted-light clearable style="background:white!important"></q-search>
            <q-tabs align="right" style="width:calc(100% - 330px)" color="tertiary" underline-color="tertiary">
              <q-route-tab to="/pedidos" default :count="nPedidos" color="primary" slot="title" icon="icon-notificacion" />
            </q-tabs>
          </div>

          <div class="grid bg-white round-borders shadow-2 wrap q-mt-xl q-pa-xl" v-if="objs.length == 0" style="width: calc(100% - 25px);">
            <div class="row">
              <p style="font-size: 18px"><strong>Inicializa primero el inventario para empezar a vender</strong> </p>
            </div>
            <div class="row">
              <q-btn color="primary" outline label="inicializar" @click="$router.push('/app/inventario/inventario')"></q-btn>
            </div>
          </div>

          <q-table v-else grid :filter="buscar" class="q-mt-xl q-pr-md fixed" :data="objs" :columns="columnas" hide-header row-key="name" style="width: calc(66.6667% - 91px);overflow-y:auto;bottom:0;top:16px" :pagination.sync="paginacion">
            <div slot="item" slot-scope="props" class="q-pa-xs col-lg-6 col-xl-3 transition-generic" :style="props.selected ? 'transform: scale(0.95);' : ''" @click="seleccionar(props.row)">
              <div class="horizontal-card round-borders">
                <div v-if="props.row.actual == 0" class="ribbon ribbon-top-left"><span>AGOTADO</span></div>
                <div v-if="props.row.actual != 0" class="ribbon existencia ribbon-bottom-right"><span>{{props.row.actual}}</span></div>
                <img :src="props.row.img" style="height:120px;width:auto">
                <div class="horizontal-card-body">
                  <p class="card-title" style="margin:0"> <strong>{{props.row.nombre}}</strong></p>
                  <span class="card-text">x {{ props.row.unidades}} uds x {{props.row.contenido}} c/u.</span>
                  <span class="card-text text-info">${{(props.row.precio).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}}</span>
                  <span v-if="props.row.retornable" class="card-text">Retornable</span>
                  <span v-if="!props.row.retornable && props.row.caja == 'Botella'" class="card-text">No retornable</span>
                </div>
              </div>
            </div>
          </q-table>

        </div>
        <div class="fixed offset-lg-8 offset-xl-8 col-lg-4 col-xl-4" style="top:0;right:0;bottom:0;box-shadow: inset 7px 0 9px -5px rgba(0,0,0,0.4);">

          <div class="row no-wrap bg-white q-pa-md" style="max-height:64px">
            <div class="col-xl-6 col-lg-6">
              <div class="row">
                <div class="col-lg-3 col-xl-2 q-mr-xs">
                  <q-btn @click.native="nuevoCliente" icon="add" round color="primary"></q-btn>
                </div>
                <div class="col-8">
                  <q-search color="primaty" inverted-light v-model="buscarCliente" placeholder="Buscar cliente">
                    <q-autocomplete color="primary" @search="filtrarCliente" @selected="selectedCliente" />
                  </q-search>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6" v-if="cliente != null">
              <div class="row">
                <div class="col-lg-3 col-xl-2">
                  <img src="statics/default-user.png" class="q-ml-xs" height="38px" style="border-radius:100%;display:inline-block">
                </div>
                <div class="col-9">
                  <p style="margin:0;font-size:15px; font-weight:700">{{ (cliente.nombre == null ? cliente.razonSocial : cliente.nombre + ' ' + cliente.apellido )}}</p>
                  <p style="margin:0; font-size:13px">{{cliente.cedula}}</p>
                </div>
              </div>              
            </div>            
          </div>
          

          <q-list separator class="fixed" link no-border style="bottom:285px;top:64px;width: 33.3333%;right:0;overflow-y:auto;">
            <q-list-header>
              <q-item-tile style="color:black; font-size:24px">Lista de productos</q-item-tile>
              <q-item-tile v-if="$q.localStorage.get.item('pedido') != null">Editar pedido</q-item-tile>
            </q-list-header>
            <q-item class="bg-white" v-for="(item, index) in compra" :key="index" style="box-shadow: inset 7px 0 9px -5px rgba(0,0,0,0.4);">
              <q-item-side  >
                <q-item-tile letter inverted color="primary">
                  {{item.vendidas}}
                </q-item-tile>

                <q-popup-edit v-model="item.vendidas" title="Cantidad" buttons :validate="(val) => { if(Number.isInteger(val)){ actualizarCantidad(val, item); return true; } else { return false} }">
                  <q-input type="number" v-model="item.vendidas" />
                </q-popup-edit>

              </q-item-side>
              <q-item-main>
                <q-item-tile title>
                  <strong>{{item.nombre}}</strong>
                </q-item-tile>
                <q-item-tile sublabel>
                  {{item.caja == 'Botella plastica' ? '' : item.caja}} x {{item.unidades}} uds x {{item.contenido}} c/u
                </q-item-tile>
              </q-item-main>
              <q-item-side right class="relative" style="margin-right:37px">
                <q-item-main>
                  <q-item-tile title>
                  <strong>${{ (item.total).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') }}</strong>
                  </q-item-tile>
                  <q-item-tile sublabe sublabel-lines="1">
                    ${{(item.precio).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}}
                  </q-item-tile>
                </q-item-main>
                
                <q-btn color="negative" outline class="no-border absolute" round icon="icon-eliminar" style="top:10%;bottom:20%;right:5px" @click.native.stop="restaurarProducto(item)"/>
              </q-item-side>
            </q-item>
          </q-list>

          <div class="absolute bg-white shadow-up-8 q-pt-xs" style="bottom:0px;top:calc(100% - 285px);right:0;left:0;box-shadow: inset 7px 0 9px -5px rgba(0,0,0,0.4);z-index:100">
            <div class="row q-px-md">
              <div style="width:32%">
                <q-input type="number" inverted-light v-model="x16" @keyup="sumarSubtotales" stack-label="Envace x16"/>
              </div>
              <div class="q-mx-xs" style="width:33.333%">
                <q-input type="number" inverted-light v-model="x30" @keyup="sumarSubtotales" stack-label="Envace x30"/>
              </div>
              <div style="width:32%">
                <q-input type="number" inverted-light v-model="x38" @keyup="sumarSubtotales" stack-label="Envace x38"/>
              </div>
            </div>
            <div class="row q-px-md q-mt-xs q-mb-xs">
              <div style="width:32%">
                <q-input type="number" inverted-light v-model="botella100" @keyup="sumarSubtotales" stack-label="Botella $100"/>
              </div>
              <div class="q-mx-xs" style="width:33.333%">
                <q-input type="number" inverted-light v-model="botella200" @keyup="sumarSubtotales" stack-label="Botella $400"/>
              </div>
              <div style="width:32%">
                <q-input type="number" inverted-light v-model="caja" @keyup="sumarSubtotales" stack-label="Cajon vacio" min="0"/>
              </div>
            </div>

            <div class="row q-px-md q-mt-xs q-mb-xs">
              <div style="width:100%">
                <q-input type="number" inverted-light v-model="domicilio" @keyup="sumarSubtotales" stack-label="Domicilio" min="0"/>
              </div>
            </div>
            
            <div class="row q-pa-md q-mb-xs bg-positive" style="box-shadow: inset 7px 0 9px -5px rgba(0,0,0,0.4);">
              <div class="col-xl-12 col-lg-12" style="font-size: 18px;text-align:center;"> 
                <strong>Total: {{(total).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}}</strong> 
              </div>
            </div>
            <div class="row q-px-xs justify-center">
              <q-btn-group>
                <q-btn v-if="$q.localStorage.get.item('pedido') == null" :disable="total == 0" label="Cobrar" color="primary" @click="cobrar">
                  <q-tooltip class="bg-dark">
                    Cobrar
                  </q-tooltip>
                </q-btn>
                <q-btn :disable="total == 0" icon="icon-pedido1" color="primary"  @click="guardarPedido">
                  <q-tooltip class="bg-dark">
                    Guardar pedido
                  </q-tooltip>
                </q-btn>
                <q-btn :disable="total == 0"  icon="icon-imprimir" color="primary" @click="imprimir">
                  <q-tooltip class="bg-dark">
                    Imprimir
                  </q-tooltip>
                </q-btn>
                <q-btn :disable="total == 0"  icon="icon-eliminar" color="negative" @click="cancelarVenta">
                  <q-tooltip class="bg-dark">
                    Cancelar venta
                  </q-tooltip>
                </q-btn>
              </q-btn-group>
            </div>
            
          </div>
          
        </div>

        <q-modal v-model="mostrar" class="round-borders" no-backdrop-dismiss no-esc-dismiss :content-css="{maxWidth: '400px'}">
          <div class="row q-pa-md q-mt-lg relative bg-white" >
            <div class="col-12">
              <p class="text-center" style="font-size:24px"><strong> Total: ${{ (total).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') }}</strong></p>
            </div>
            <div class="col-12">
              Recibido:
              <q-input prefix="$" v-model="recibido" inverted-light @input="recibirPlata"></q-input>
            </div>
            <div class="col-12 q-mt-md">
              <p style="font-size:20px;font-weight:700"> {{ (0 >= vueltos) ? 'Vueltos: ' : 'Falta: ' }}  <span :class="vueltos < 0 ? 'text-negative' : 'text-black'">{{ (vueltos).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') }}</span> </p>
            </div>
            <div class="col-12 text-center m-mt-lg">
              <q-btn-group>
                <q-btn label="vender"  color="primary" @click="vender"></q-btn>
                <q-btn label="Fiar" @click.native="fiar" color="primary"></q-btn>
                <q-btn label="cancelar venta" color="negative" @click="cancelarVenta"></q-btn>
              </q-btn-group>
            </div>
            <div class="bg-secondary shadow-2 text-white absolute q-pa-xs text-center" style="top:0;left:0;right:0;border-top-left-radius: 3px;border-top-right-radius: 3px;">
              Cobrar
            </div>
            <q-btn class="absolute no-border" size="12px" icon="close" outline round color="white" @click="cerrarDialogoCobrar"  style="top:-2px;right:0px"/>
          </div>
        </q-modal>

      </div>
    </q-page>
  </q-page-container>
</q-layout>
  
</template>

<script>
const formatter = new Intl.NumberFormat('en-US', {
  style: 'currency',
  currency: 'USD',
  minimumFractionDigits: 0
})
import path from 'path'
var shell = require('electron').shell;
import cargar from 'src/funciones/venta/cargar'
import {filter } from 'quasar'
var fs = require('fs');
var disponible
var clientes
var ventas
var pedidos
export default {
  // name: 'PageName',
  data(){
    return{
      mostrar:false,
      total: 0,
      recibido:0,
      vueltos:0,
      x30: 0,
      x16: 0,
      x38:0,
      caja:0,
      botella100:0,
      botella200:0,
      fecha: 0,
      buscar: '',
      domicilio: 0,
      objs: [],
      cliente: null,
      clientes:[],
      buscarCliente: '',
      nPedidos:0,
      pedido: null,
      columnas:[
        {
          name: 'nombre',
          field: 'nombre',
          label: 'Nombre',
        },
        {
          name: 'precio',
          field: 'precio',
          label: 'Precio'
        },
        {
          name: 'caja',
          field: 'caja',
          label: 'Caja'
        },
        {
          name: 'retornable',
          field: 'retornable'
        },
        {
          name: 'unidades',
          field: 'unidades'
        },
        {
          name: 'contenido',
          field: 'contenido'
        }
      ],
      compra:[],
      paginacion:{
        sortBy: null,
        page: 1,
        rowsPerPage: 0 
      }
    }
  },
  mounted(){
    this.cargar()
  },
  methods:{
    link(url){
      shell.openExternal(url);
    },
    nuevoCliente(){
      this.$router.push('/app/clientes/clientes')
    },
    cargar(){
      let dbs = cargar(this)
      clientes = dbs.clientes
      ventas = dbs.ventas
      disponible = dbs.disponible
      pedidos = dbs.pedidos

      pedidos.find({despachado: false}, (e, docs) =>{
        this.nPedidos = docs.length
      })

      let pedido = this.$q.localStorage.get.item('pedido')
    
    console.log(pedido)

      if(pedido != null){
        this.cliente = pedido.cliente
        this.compra = pedido.objs
        this.total = pedido.total
        this.recibido = pedido.recibido
        this.vueltos = pedido.vueltos

        let env = JSON.parse(JSON.stringify(pedido.envace))

        this.x30 = env[0].cantidad
        this.x16 = env[2].cantidad
        this.x38 = env[1].cantidad
        this.caja = env[5].cantidad
        this.botella100 = env[3].cantidad
        this.botella200 = env[4].cantidad
        this.domicilio = pedido.domicilio
      }

    },
    seleccionar(item){
      if(item.actual > 0){
        let pos = -1
        let i = 0
        this.compra.forEach(element => {
          if(element._id == item._id){
            pos = i
            return
          }
          i++
        })
        if(pos == -1){
          let temp = JSON.parse(JSON.stringify(item))
          temp.vendidas = 1
          temp.total = temp.vendidas * temp.precio
          this.compra.push(temp)
        } else{
          this.compra[pos].vendidas = this.compra[pos].vendidas + 1
          this.compra[pos].total = this.compra[pos].vendidas * this.compra[pos].precio   
        }
        item.actual = item.actual - 1
        this.sumarSubtotales()
      }
    },
    restaurarProducto(item){
      if(item != undefined){
        let pos = -1
        let i = 0
        this.objs.forEach(element => {
          if(element._id == item._id){
            pos = i
            return
          }
          i++
        })
        this.objs[pos].actual = item.actual
        this.compra = this.compra.filter(element => element._id !== item._id)
        this.sumarSubtotales()
      }
    },
    actualizarCantidad(val, item){
      if(Number.isInteger(val)){
        let pos = -1
        let i = 0
        this.objs.forEach(element => {
          if(element._id == item._id){
            pos = i
            return
          }
          i++
        })
        let disponible = item.actual
        if(val == 0){
          this.restaurarProducto(item)
        } else {
          if(val <= disponible){
            this.objs[pos].actual = disponible - val
          } else {
            this.objs[pos].actual = 0
          }
          item.total = val * item.precio
          this.sumarSubtotales()  
        }
      }
    },
    sumarSubtotales(){
      let suma = 0
      this.x30 = isNaN(parseInt(this.x30)) ? 0 : parseInt(this.x30)
      this.x16 = isNaN(parseInt(this.x16)) ? 0 : parseInt(this.x16)
      this.x38 = isNaN(parseInt(this.x38)) ? 0 : parseInt(this.x38)
      this.botella100 = isNaN(parseInt(this.botella100)) ? 0 : parseInt(this.botella100)
      this.botella200 = isNaN(parseInt(this.botella200)) ? 0 : parseInt(this.botella200)
      this.caja = isNaN(parseInt(this.caja)) ? 0 : parseInt(this.caja)
      this.domicilio = isNaN(parseInt(this.domicilio)) ? 0 : parseInt(this.domicilio)

      let adicional = (this.x30 * 6000) + (this.x38 * 6800) + (this.x16 * 9400) + (this.caja * 3000) + (this.botella100 * 100) + (this.botella200 * 400) + this.domicilio
      this.compra.forEach(element => {
        suma = suma +  element.total
      })
      this.total = parseInt(suma) + parseInt(adicional)
    },
    cobrar(){
      this.mostrar = true
      this.recibirPlata()
    },
    cerrarDialogoCobrar(){
      this.mostrar = false;
    },
    recibirPlata(){
      this.recibido = isNaN(parseInt(this.recibido)) ? 0 : parseInt(this.recibido)
      this.vueltos = this.recibido - this.total
    },
    fiar(){
      if(this.cliente != null){
          let doc = this.prepararVenta()
          doc.credito = true
          doc.vueltos = doc.total - doc.recibido

          let temDoc = JSON.parse(JSON.stringify(doc))
          delete temDoc.cliente
          temDoc.abonos = []
          this.cliente.creditos.push(temDoc)
          this.cliente.total = this.cliente.total + doc.vueltos
          clientes.update({_id: this.cliente._id}, {$set: JSON.parse(JSON.stringify(this.cliente))}, {}, (e, doc) => {if(e){this.$q.notify({message: 'Ocurrio un error al intentar guardar',position:'top-right', icon:'close'})}})
          this.guardar(doc)
      }else {
        this.$q.notify({
          message: 'Primero selecciona un cliente',
          position: 'top-right',
          icon: 'close'
        })
      }
    },
    guardarPedido(){
      let pedido = this.$q.localStorage.get.item('pedido')
      if(this.cliente == null){
        this.$q.notify({
          message: 'Selecciona un cliente primero',
          position: 'top-right',
          icon: 'close'
        })
      } else if(this.total == 0){
        this.$q.notify({
          message: 'Selecciona un producto',
          position: 'top-right',
          icon: 'close'
        })
      } else {

        let doc = this.prepararVenta()
        doc.pedido = true
        doc.despachado = false
        doc.recibido = doc.total
        doc.vueltos = 0

        if(pedido != null ){
          pedido.recibido = doc.recibido
          pedido.total = doc.total
          pedido.cliente = doc.cliente
          pedido.envace = JSON.parse(JSON.stringify(doc.envace))
          pedido.domicilio = doc.domicilio
          pedido.objs = JSON.parse(JSON.stringify(doc.objs))
          pedidos.update({_id: pedido._id}, {$set:JSON.parse(JSON.stringify(pedido))},{},(e, d)=>{
            this.$q.localStorage.remove('pedido')
            this.guardar()
          })
          
        }else{
          doc.fecha = this.$moment().unix()
          pedidos.insert(JSON.parse(JSON.stringify(doc)), (e, doc) => {
            doc.fecha = this.fecha
            this.guardar(JSON.parse(JSON.stringify(doc)))
          })
          this.nPedidos = this.nPedidos + 1
        }
      }
      
    },
    vender(){
      if(this.vueltos < 0 && this.cliente != null) {
        this.$q.dialog({
          title: 'Vender',
          message: '¿Desea agregar el saldo faltante como credito?',
          ok: 'Si',
          cancel: 'No'
        }).then(() => {
          this.fiar()
        })
      } else if(this.vueltos < 0 && this.cliente == null){
        this.$q.notify({
          message: 'No se puede vender, selecciona un cliente primero',
          position: 'top-right',
          icon: 'close'
        })
      } else {
        let doc = this.prepararVenta()
        this.guardar(doc)
      }
    },
    guardar(doc){
      this.compra = []
      this.cancelarVenta()
      if(doc != null){
        ventas.insert(doc, (e, doc) => {})
      }
      disponible.remove({}, { multi: true },(e, docs) => {
        disponible.insert(JSON.parse(JSON.stringify(this.objs)))
      })    
    },
    prepararVenta(){
      let doc = {
         fecha: this.fecha,
         total: this.total,
         vueltos: this.vueltos,
         recibido: this.recibido,
         objs: JSON.parse(JSON.stringify(this.compra)),
         envace:[
           { nombre: 'Envace x30',precio: 6000,cantidad: this.x30,total: this.x30 * 6000 },
           { nombre: 'Envace x38',precio: 6800,cantidad: this.x38,total: this.x38 * 6800 },
           { nombre: 'Envace x16',precio: 9400,cantidad: this.x16,total: this.x16 * 9400 },
           { nombre: 'Botella(s)',precio: 100,cantidad: this.botella100,total: this.botella100 * 1000 },
           { nombre: 'Botellas(s) 750 ml',precio: 400, cantidad: this.botella200,total: this.botella200 * 200 },
           { nombre: 'Caja plastica',precio: 3000,cantidad: this.caja,total: this.caja * 3000 }
         ],
         domicilio: this.domicilio,
         eliminado: false,
         pedido: false,
         credito: false
       }

       if(this.cliente == null){
         doc.cliente = {
           razonSocial: 'POS',
           cedula: '000000',
         }
       } else{
         doc.cliente = JSON.parse(JSON.stringify(this.cliente))
       }

       return doc
    },
    cancelarVenta(){
      /*let pedido = this.$q.localStorage.get.item('pedido')
      if(pedido != null){
        pedidos.remove({_id: pedido.id},{})
        this.nPedidos = this.nPedidos - 1;
      }*/
      this.cerrarDialogoCobrar()
      this.x30 = 0
      this.x16 = 0
      this.x38 = 0
      this.caja = 0
      this.botella100 = 0
      this.botella200 = 0
      this.total = 0
      this.domicilio = 0
      this.recibido = 0
      this.vueltos = 0
      this.cliente = null
      this.compra.forEach(item => {
        this.restaurarProducto(item)
      })
    },
    filtrarCliente(term, done){
      term =  term.toUpperCase()
      let temp = this.clientes.map(cliente => {
        return {
          label: cliente.nombre == null ? cliente.razonSocial : cliente.nombre + ' ' + cliente.apellido,
          sublabel: cliente.cedula,
          value: cliente.cedula,
          avatar: 'statics/default-user.png',
          alias: cliente.alias
        }
      })
      let list = []
      let label = filter(term, {field: 'label', list: temp})
      let sublabel = filter(term, {field: 'sublabel', list: temp})
      let alias = filter(term, {field: 'alias', list: temp})

      if(label.length > 0){
        list = label
      }
      if(sublabel.length > 0){
        list = sublabel
      }
      if(alias.length > 0){
        list = alias
      }
      done(list)
    },
    selectedCliente(item){
      this.clientes.forEach(cliente => {
        if(cliente.cedula == item.sublabel){
          this.cliente = cliente
          this.buscarCliente = ''
        }
      })
    },
    imprimir(){
      var r = null

      if (process.env.DEV) {
          r = __dirname
      } else {
          r = global.__dirname
          r = r.substring(0,r.indexOf('electron.asar') - 1)
      }

      let factura = path.join(r, 'factura.html')

      let html = `
      <!DOCTYPE html>
      <html lang="es">
        <head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <meta http-equiv="X-UA-Compatible" content="ie=edge">
          <title>JCesar</title>
          <style>
            @page {
              size: auto;   
              margin: 0mm;
            }
            body {
              font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
              color:black;
            }
            p{
              margin:0px
            }
            .factura{
              font-size:12px;
              max-width:80mm;
              width:100%;
              margin:auto;
            }
            .factura .cabecera {
              text-align:center
            }
          </style>
        </head>
        <body>
          <div class="factura">
            <div class="cabecera">
               <p><strong>Distribuciones Olivar Sur S.A.S</strong></p>
                <p style="margin-top:2px">Calle 1 No.16-23 - Aguachica - Cesar </p>
                <p style="margin-top:2px">Nit. 900524584 - 3</p>
                <p style="max-width:80mm;text-overflow: clip;white-space: nowrap;overflow: hidden;">******************************************************</p>
                <p style="line-height: 0;">Servicio a domicilio</p>
                <p style="margin-top: 9px;">3156952600 - 317450498 - 5653103</p>
                <p style="max-width:80mm;text-overflow: clip;white-space: nowrap;overflow: hidden;">******************************************************</p>
                <br/>
                ` + (this.cliente != null ? `<p>Cliente: ` + (this.cliente.razonSocial != null && this.cliente.razonSocial != undefined ? this.cliente.razonSocial : this.cliente.nombre + ' ' + this.cliente.apelllido ) + `</p>` : '') + `
                <br/>
                <p>` + this.$moment().format("MMMM DD [de] YYYY [a las] hh:mm A") + `<p/>
                <br/>
                <table style="width:100%;border-spacing: 5px;border-collapse: separate;">
                  <tr>
                    <th style="border-bottom:1pt dashed black;" align="left">Descripcion</th>
                    <th style="border-bottom:1pt dashed black;" align="right">Valor</th>
                    <th style="border-bottom:1pt dashed black" align="center">#</th>
                    <th style="border-bottom:1pt dashed black;" align="right">Total</th>
                  </tr>
                  ` +
                  this.compra.map(item => {
                    return '<tr><td align="left">' + item.nombre + ' ' + item.caja + ' x' + item.unidades + ' unds x' + item.contenido + '</td>' + 
                    '<td  align="right">' + formatter.format(item.precio)  + '</td><td align="center">' + item.vendidas + '</td><td align="right">' + formatter.format(item.total) + '</td></tr>'
                  })
                  +
                  (this.x30 != 0 && this.x30 != undefined ? '<tr><td align="left">Caja envace x 30 botellas</td><td align="right">$6,000</td><td align="center">'+this.x30+'</td><td align="right">'+ formatter.format(this.x30 * 6000) +'</td></tr>': '') 
                  +
                  (this.x38 != 0 && this.x38 != undefined ? '<tr><td align="left">Caja envace x 38 botellas</td><td align="right">$6,800</td><td align="center">'+this.x38+'</td><td align="right">'+ formatter.format(this.x38 * 6800) +'</td></tr>': '') 
                  +
                  (this.x16 != 0 && this.x16 != undefined ? '<tr><td align="left">Caja envace x 16 botellas</td><td align="right">$9,400</td><td align="center">'+this.x16+'</td><td align="right">'+ formatter.format(this.x16 * 9400) +'</td></tr>': '') 
                  +
                  (this.caja != 0 && this.caja != undefined ? '<tr><td align="left">Caja plastica vacia</td><td align="right">$3,000</td><td align="center">'+this.caja+'</td><td align="right">'+ formatter.format(this.caja * 3000) +'</td></tr>': '') 
                  +
                  (this.botella100 != 0 && this.botella100 != undefined ? '<tr><td align="left">Botella de vidrio retornable</td><td align="right">$100</td><td align="center">'+this.botella100+'</td><td align="right">'+ formatter.format(this.botella100 * 100) +'</td></tr>': '') 
                  +
                  (this.botella200 != 0 && this.botella200 != undefined ? '<tr><td align="left">Botella de vidrio 750 ml retornable</td><td align="right">$400</td><td align="center">'+this.botella200+'</td><td align="right">'+ formatter.format(this.botella200 * 400) +'</td></tr>': '') 
                  +
                  (this.domicilio != 0 ? '<tr><td align="left">Domicilio</td><td align="right"></td><td align="center"></td><td align="right">'+ formatter.format(this.domicilio) +'</td></tr>': '')
                  + `
                  <tr>
                    <th style="border-top:1pt dashed black;">&nbsp;&nbsp;&nbsp;</th>
                    <th style="border-top:1pt dashed black;" align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <th style="border-top:1pt dashed black" align="center">&nbsp;&nbsp;&nbsp;</th>
                    <th style="border-top:1pt dashed black;" align="right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                  </tr>
                  <tr>
                    <th align="left">Total:</th>
                    <th align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <th align="center">&nbsp;&nbsp;&nbsp;</th>
                    <th align="right">` + formatter.format(this.total) + `</th>
                  </tr>
                </table>

                <br/>
                <p style="ext-align:center;font-size:12px"><strong>www.jcesar.co</strong></p>
                <p style="text-align:center;font-size:9px">Desarrollo Profesional de sitios, apps y sistemas.</p>
                
            </div>
            
          </div>
        <script>window.print();<`
      html = html + '/script></body></html>'
      fs.writeFileSync(factura, html, 'utf-8');
      shell.openExternal(factura);
    }
  }
}
</script>

<style>
.horizontal-card {
  background: white;
  position: relative;
  display: flex;
  padding: 16px;
  cursor: pointer;
  user-select: none;
}
.horizontal-card .agotado{
  position: absolute;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  border-radius: 3px !important;
  cursor: not-allowed;
  background: rgba(255,52,19,0.5)
}
.horizontal-card img {
  width: 200px;
  height: 130px;
}
.horizontal-card .horizontal-card-body {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.box {
  width: 200px; height: 300px;
  position: relative;
  border: 1px solid #BBB;
  background: #EEE;
}
.ribbon {
  position: absolute;
  left: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: 700;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#F70505 0%, #8F0808 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; left: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #8F0808;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F0808;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #8F0808;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F0808;
}

.existencia span{
   background: linear-gradient(#9BC90D 0%, #79A70A 100%)!important;
}
.existencia span::before{
  border-left: 3px solid #79A70A!important;
  border-top: 3px solid #79A70A!important;
}
.existencia span::after{
  border-right: 3px solid #79A70A!important;
  border-top: 3px solid #79A70A!important;
}

.ribbon-top-left{
  left: -5px; top: -5px!important;
}
.ribbon-top-left span{
  transform: rotate(-45deg)!important;
  top: 19px; left: -21px!important;
  transform: rotate(-45deg)!important;
  -webkit-transform: rotate(-45deg)!important;
}

.ribbon-top-right{
  right: -5px; top: -5px!important;
}
.ribbon-top-right span{
   transform: rotate(45deg)!important;
  -webkit-transform: rotate(45deg)!important;
  top: 19px; right: -21px!important;
}

.ribbon-bottom-right{
  right: -5px; bottom: -5px!important;
  top:unset!important; left: unset!important;
}
.ribbon-bottom-right span{
  bottom: 19px; right: -21px!important;
  top: unset!important;
  left: unset!important;
}
.ribbon-bottom-right span::before {
  top: unset!important;
  bottom: 100%!important;
  bottom: 87%!important;
  transform: rotate(45deg);
}

.ribbon-bottom-right span::after{
  top: unset!important;
  bottom: 100%!important;
  bottom: 87%!important;
  transform: rotate(-45deg);
}

</style>
