// App Shared Variables
// --------------------------------------------------
// Shared Stylus variables go in the common.variables.styl file
$quasar-dont-import-fonts = true
$typography-font-family = 'Google Sans', arial, sans-serif
$sizes = {
    xs: 0px,
    sm: 575px, 
    md: 767px,
    lg: 991px, 
    xl: 1449px 
}

@import 'common.variables'

// Material only Quasar variables overwrites
// -----------------------------------------
