<template>
  <div>
    <div class="row items-center q-pt-xs q-px-md " style="margin-left:21%">
      <q-btn-group>
        <q-btn color="primary" icon="icon-nuevo" @click="nuevoC=true">
          <q-tooltip class="bg-dark">
            Nuevo credito
          </q-tooltip>
        </q-btn>
        <q-btn color="primary" icon="icon-actualizar" @click="recargar">
          <q-tooltip class="bg-dark">
            Actualizar
          </q-tooltip>
        </q-btn>
      </q-btn-group>
      <strong class="q-ml-md q-m">Total creditos: ${{(total).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}}</strong>
    </div>

    <div class="row relative ">
      <q-list no-border class="fixed shadow-2 bg-white" style="top:75px;width:20%">
          <q-list-header>
            <q-item-tile><strong style="color:black;font-size:18px">Créditos</strong> </q-item-tile>
          </q-list-header>
        </q-list>
      <div class="bg-white fixed" style="width:20%;bottom:0;top:135px;overflow-y:auto;box-shadow: 0 4px 5px rgba(0,0,0,0.2);">
        <q-list link no-border inset-separator>
          <q-list-header v-if="objs.length == 0">
            <q-item-tile>No hay clientes con créditos</q-item-tile>
          </q-list-header>
          <q-item v-else :active="selects[index].value" v-for="(cliente, index) in objs" :key="index"  @click.native="selectCliente(index, cliente)">
            <q-item-side>
              <q-item-tile avatar>
                <img src="statics/default-user.png"/>
              </q-item-tile>
            </q-item-side>
            <q-item-main :label="cliente.nombre == null ? cliente.razonSocial : cliente.nombre + ' ' + cliente.apellido" :sublabel="cliente.cedula"/>
            <q-item-side right>
              ${{(cliente.total).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}}
            </q-item-side>
          </q-item>
        </q-list>
      </div>
      
      <div class="fixed" :style="'left: calc(20% + 84px);bottom: 0px;top: 120px;' + (pedido != null ? 'right: calc(24% - -16px);': 'right:16px')">
        <div>
          <q-table class="bg-white" :data="datos" :columns="columnas" style="cursor: pointer;">
            <q-tr slot="body" slot-scope="props" :props="props" @click.native="selectCredito(props.row)">
              <q-td key="fecha" :props="props">
                <strong>{{ $moment.unix(props.row.fecha).format('MMMM DD [de] YYYY')}}</strong> 
              </q-td>
              <q-td key="total" :props="props">
                ${{(props.row.total).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}}

                <q-popup-edit v-model="props.row.total" buttons @save="(val, initVal) => {editarCredito(props.row)}">
                   <q-input type="number" v-model="props.row.total" inverted-light />
                </q-popup-edit>

              </q-td>
              <q-td class="text-info" key="abono" :props="props">
                ${{(props.row.recibido).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}}
                <q-btn size="sm" round dense color="info" icon="add" @click.stop="mostrar1 = true; index = props.row.__index" class="q-mx-xs" style="cursor:context-menu"/>
                <q-btn size="sm" round dense color="info" icon="visibility" @click.stop="mostrar2 = true; index = props.row.__index" style="cursor:context-menu"/>
              </q-td>
              <q-td class="text-negative" key="saldo" :props="props">
                <strong>${{(props.row.vueltos).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}}</strong>
              </q-td>
              <q-td auto-width>
                <q-btn icon="icon-eliminar" color="negative" outline class="no-border" @click.stop="eliminarCredito(props.row.__index)"/>
              </q-td>
            </q-tr>
          </q-table>
        </div>
      </div>
    </div>

    <div v-if="pedido != null" class="fixed bg-white shadow-2" style="top:73px;bottom:0;right:0;width:24%;overflow-y:auto">
      <q-list inset-separator v-if="pedido != null">
        <q-list-header>
          <strong class="text-black">{{ $moment.unix(pedido.fecha).format('MMMM DD [de] YYYY')}}</strong>
        </q-list-header>
        <q-item v-if="pedido != null" v-for="(item, index) in pedido.objs" :key="index">
          <q-item-side>
            <q-item-tile letter color="primary" >
              {{item.vendidas}}
            </q-item-tile>
          </q-item-side>
          <q-item-main :label="item.nombre" label-lines="1" :sublabel="item.caja + ' x' + item.unidades + ' x' + item.contenido" sublabel-lines="1">
          </q-item-main>
          <q-item-side right class="relative" style="margin-right:37px">
            <q-item-main>
              <q-item-tile label>
                ${{(item.total).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}}
              </q-item-tile>
              <q-item-tile sublabel>
                ${{(item.precio).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}}
              </q-item-tile>
            </q-item-main>
            <q-btn color="negative" outline class="no-border absolute" round icon="icon-eliminar" style="top:10%;bottom:20%;right:5px" @click.native.stop="eliminarProducto(item.__index)"/>
          </q-item-side>
        </q-item>
      </q-list>
    </div>

    <q-modal v-model="mostrar1" no-esc-dismiss no-backdrop-dismiss>
      <div class="row q-pa-md justify-center">
        <q-field label="Monto a abonar"> 
          <q-input v-model="abono" type="number" @input="validarAbono" prefix="$" clearable inverted-light />
        </q-field>
      </div>
      <div class="row q-pa-md justify-center">
        <q-btn-group>
          <q-btn label="guardar" color="primary" @click="abonar"></q-btn>
          <q-btn label="cancelar" outline color="primary" @click="mostrar1=false;abono=0;index=-1"></q-btn>
        </q-btn-group>
      </div>
    </q-modal>

    <q-modal v-model="nuevoC" no-esc-dismiss no-backdrop-dismiss >
      <div class="q-pa-md">
        <q-field label="Cliente">
          <q-search v-model="buscarC" inverted-light>
            <q-autocomplete@search="buscarCliente" @selected="selectedCliente" />
          </q-search>
        </q-field>
        <q-field class="q-mt-md" label="Valor">
          <q-input type="number" v-model="monto" inverted-light/>
        </q-field>
        <div class="row justify-center">
          <q-btn-group class="q-mt-md">
            <q-btn color="primary" label="Guardar" @click="guardar"></q-btn>
            <q-btn color="primary" outline label="Cerrar" @click="cerrar"></q-btn>
          </q-btn-group>
        </div>
      </div>
    </q-modal>

    <q-modal v-if="datos.length > 0" v-model="mostrar2" :content-css="{ maxHeight:'550px',maxWidth:'400px', width:'100%'}">
      <q-modal-layout>
        <div slot="header">
          <q-toolbar inverted class="text-center">
            <q-toolbar-title>
            Abonos
          </q-toolbar-title>
          </q-toolbar>
        </div>
        <div class="row">
          <div class="col-12">
            <q-list no-border inset-separator>
              <q-list-header v-if="index == -1">No hay abonos</q-list-header>
              <q-item v-else v-for="(item, i) in datos[index].abonos" :key="i">
                <q-item-side>
                  <q-item-tile letter>
                    {{i + 1}}
                  </q-item-tile>
                </q-item-side>
                <q-item-main :label="$moment.unix(datos[index].abonos[(datos[index].abonos.length - 1) - i].fecha).format('MMMM DD [de] YYYY')" :sublabel="'$' + (datos[index].abonos[(datos[index].abonos.length - 1) - i].valor).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')"/>
              </q-item>
            </q-list>
          </div>
        </div>
        <div class="row q-pa-md justify-center" slot="footer">
            <q-btn label="Aceptar" color="primary" @click="mostrar2=false"></q-btn>
          </div>
      </q-modal-layout>
      
    </q-modal>

  </div>
</template>

<script>
import {Clientes} from 'src/database'
import moment from 'moment'
import{filter} from 'quasar'
import { throws } from 'assert';
import { setTimeout } from 'timers';
function isNumber(n) {
  return !isNaN(parseFloat(n)) && isFinite(n);
}
export default {
  name: 'CreditoClientes',
  data () {
    return {
      objs: [],
      selects: [],
      datos: [],
      pedido: null,
      mostrar1: false,
      mostrar2: false,
      index: -1,
      abono:0,
      cliente: null,
      total: 0,
      monto:0,
      buscarC: '',
      pos: -1,
      nuevoC: false,
      tempCliente: null,
      clientes: [],
      existe: false,
      columnas:[
        {
          name: 'fecha',
          label: 'Fecha',
          field: 'fecha',
          align: 'left',
          shortable: true,
          format: val => {return moment.unix(val).format('MMMM DD [de] YYYY')}
        },
        {
          name: 'total',
          label: 'Total pedido',
          field: 'total',
          align: 'right',
          format: val => {return '$' + (val).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}
        },
        {
          name: 'abono',
          label: 'Total abonado',
          field: 'recibido',
          align: 'right',
          format: val => {return '$' + (val).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}
        },
        {
          label: 'Saldo restante',
          name: 'saldo',
          field: 'vueltos',
          format: val => {return '$' + (val).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}
        },
        {
          label: '',
          align: 'center',
        }
      ],
      paginacion:{
        sortBy: "fecha",
        page: 1,
        descending: true,
        rowsPerPage: 0 
      }
    }
  },
  beforeMount(){
    this.$nextTick(() => {
      this.cargar()
    })
  },
  methods:{
    cargar(){

      Clientes.find({},(e,docs) => {
        if(docs.length > 0) {
          this.clientes = JSON.parse(JSON.stringify(docs))
        }
      })

      Clientes.find({total:{$ne:0}},(e,docs) => {
        if(e){
          console.log(e)
          this.$q.notify({
            message:'Datos corruptos por manipulacion manual',
            position: 'top-right',
            icon: 'close'
          })
        }
        if(docs.length > 0){
          this.objs = JSON.parse(JSON.stringify(docs))
          this.objs.forEach(cliente => {
            this.selects.push({
              value: false
            })
          })
          this.selectCliente(0, this.objs[0])
          this.selects[0].value = true
          this.sumarTotales()
        } else{
          this.objs = []
          this.selects = []
        }
      })
    },
    sumarTotales(){
      let suma = 0
      this.objs.forEach(cliente => {
        suma = suma + cliente.total
      })
      this.total = suma
    },
    selectCliente(index, cliente){
      for(let i = 0; i <this.selects.length; i++){
        if(i == index){
          this.selects[i].value = true
        }else{
          this.selects[i].value = false
        }
      }
      this.cliente = cliente
      this.datos = cliente.creditos
      this.pedido = null
    },
    selectCredito(pedido){
      if(pedido != null || pedido != undefined){
        this.pedido = pedido
      }
    },
    validarAbono(){
      this.abono = (isNaN(parseInt(this.abono))  ? 0 : parseInt(this.abono))
    },
    abonar(){      
      this.datos[this.index].abonos.push({
        fecha: this.$moment().unix(),
        valor: this.abono
      })
      let suma = 0
      this.datos[this.index].abonos.forEach(item => {
        suma = this.datos[this.index].recibido + item.valor
      })
      this.datos[this.index].recibido = suma
      this.datos[this.index].vueltos = this.datos[this.index].total - this.datos[this.index].recibido
      this.cliente.total = this.cliente.total - this.abono
      this.index = - 1
      this.mostrar1 = false
      this.abono = 0
      Clientes.update({_id: this.cliente._id}, {$set: JSON.parse(JSON.stringify(this.cliente))})
      this.sumarTotales()
    },
    eliminarCredito(index){
      this.$q.dialog({
        title: 'Eliminar credito',
        message: '¿Seguro que desea eliminar el credito?',
        ok: 'Si, estoy seguro',
        cancel: 'No'
      }).then(() => {
        this.datos = this.datos.filter(element => element.__index !== index)
        let suma = 0
        this.datos.forEach(element => {
          suma = suma + element.vueltos
        })
        this.cliente.total = suma
        this.cliente.creditos = this.datos
        Clientes.update({_id: this.cliente._id},{$set: JSON.parse(JSON.stringify(this.cliente))},{multi:false})
        if(this.cliente.total == 0){
          this.restablecer()          
        }
        this.sumarTotales()
      })
    },
    restablecer(){
      this.selects = []
      this.datos = []
      this.pedido = null
      this.mostrar1 = false
      this.mostrar2 = false
      this.index = -1
      this.abono =0
      this.cliente = null
      this.nuevoC = false,
      this.tempCliente = null,
      this.existe = false
      this.monto = 0
      this.nuevoC = false
      this.buscarC = ''
      this.pos = -1
      this.cargar()
    },
    cerrar(){
      this.nuevoC = false,
      this.tempCliente = null,
      this.existe = false
      this.monto = 0
      this.nuevoC = false
      this.buscarC = ''
      this.pos = -1
    },
    eliminarProducto(index){
      this.$q.dialog({
        title: 'Eliminar producto',
        message: '¿Desea eliminar el producto?',
        ok: 'Si, eliminar',
        cancel: 'NO'
      }).then(() => {
        let total = 0
        this.pedido.objs.forEach(item => {
          if(item.__index == index){
            total = item.total
            return
          }
        })
        this.pedido.total = this.pedido.total - total
        this.cliente.total = this.cliente.total - total
        this.pedido.vueltos = this.pedido.total - this.pedido.recibido
        this.pedido.objs = this.pedido.objs.filter(item => item.__index !== index)
        Clientes.update({_id: this.cliente._id},{$set: JSON.parse(JSON.stringify(this.cliente))}, {multi:false})
        if(this.cliente.total == 0){
          this.restablecer()          
        }
        this.sumarTotales()
      })
    },
    recargar(){
      window.location.reload()
    },
    editarCredito(row){
      this.cliente.total = this.cliente.total - row.vueltos
      row.vueltos = row.total - row.recibido
      this.cliente.total = this.cliente.total + row.vueltos
      this.sumarTotales()
      Clientes.update({_id: this.cliente._id},{$set: JSON.parse(JSON.stringify(this.cliente))}, {multi:false})
    },
    selectedCliente(item){
      
      this.clientes.forEach(cliente => {
        if(cliente.cedula == item.sublabel){
          this.tempCliente = cliente
          this.buscarC = item.label
          return
        }
        
      })

      let i = 0
      this.objs.forEach(cliente => {
        if(cliente.cedula == item.sublabel){
          this.existe = true
          this.pos = i
          return
        }
        i++
      })
    },
    buscarCliente(term, done){
      term =  term.toUpperCase()
      let temp = this.clientes.map(cliente => {
        return {
          label: cliente.nombre == null ? cliente.razonSocial : cliente.nombre + ' ' + cliente.apellido,
          sublabel: cliente.cedula,
          value: cliente.cedula,
          avatar: 'statics/default-user.png',
          alias: cliente.alias
        }
      })
      let list = []
      let label = filter(term, {field: 'label', list: temp})
      let sublabel = filter(term, {field: 'sublabel', list: temp})
      let alias = filter(term, {field: 'alias', list: temp})

      if(label.length > 0){
        list = label
      }
      if(sublabel.length > 0){
        list = sublabel
      }
      if(alias.length > 0){
        list = alias
      }
      done(list)
    },
    guardar(){
      if(this.tempCliente != null){
        if(this.existe){
          this.objs[this.pos].creditos.push({
            fecha: this.$moment().startOf('day').unix(),
            total: this.monto,
            vueltos: this.monto,
            recibido: 0,
            objs:[],
            envace:[],
            abonos:[],
            eliminado:false,
            pedido:false,
            credito:true
          })
        this.objs[this.pos].total =  this.objs[this.pos].total + this.monto
        Clientes.update({_id: this.objs[this.pos]._id}, {$set: JSON.parse(JSON.stringify(this.objs[this.pos]))}, {multi: false})
        }else {
          if(this.tempCliente.creditos == null || this.tempCliente.creditos == undefined){
            this.tempCliente.creditos = []
          }
          this.tempCliente.creditos.push({
            fecha: this.$moment().startOf('day').unix(),
            total: this.monto,
            vueltos: this.monto,
            recibido: 0,
            objs:[],
            envace:[],
            abonos:[],
            eliminado:false,
            pedido:false,
            credito:true
          })
          this.tempCliente.total = this.tempCliente.total + this.monto
          Clientes.update({_id: this.tempCliente._id}, {$set: JSON.parse(JSON.stringify(this.tempCliente))}, {multi: false})
          this.objs.push(JSON.parse(JSON.stringify(this.tempCliente))) 
          this.selects.push({
            value: false
          })
        }
        this.cerrar()
        this.sumarTotales()
      } else {
        this.$q.notify({
          message: 'Selecciona un cliente primero',
          position: 'top-right'
        })
      }
    }
  }
}
</script>

<style>
</style>
