<template>
  <div class="q-px-xl">

    <div class="fixed bg-tertiary" style="z-index:200;top:62px;width: calc(100% - 158px);left: 113px;">
      <div class="relative row items-center q-pt-md q-pb-xs">
        <strong style="font-size:18px">Clientes</strong>
        <q-btn-group class="q-ml-md">
            <q-btn icon="icon-nuevo" color="primary" @click="() => {mostrar = true}">
              <q-tooltip>Agregar un nuevo cliente</q-tooltip>
            </q-btn>
            <q-btn  icon="icon-actualizar" @click.native="recargar" color="primary">
              <q-tooltip>Actualiza cambios</q-tooltip>
            </q-btn>
          </q-btn-group>
          <q-search hide-underline color="primary" inverted-light v-model="buscar" class="q-ml-md" placeholder="Buscar" clearable style="background:white!important"/>
      </div>
    </div>

    <div class="row q-pt-xl">
      <q-table  id="tabla" class="full-width bg-white" :filter="buscar" :data="objs" :columns="columnas" row-key="name" :pagination.sync="pagination">
        <q-tr slot="body" slot-scope="props" :props="props">
          <q-td>
            <img class="q-item-avatar" src="statics/default-user.png">
          </q-td>
          <q-td auto-width key="cedula" :props="props" @click.native="tablaClick(props.row)">
             <strong>{{props.row.cedula}}</strong>
          </q-td>
          <q-td key="nombre" :props="props" @click.native="tablaClick(props.row)">
            <strong>{{ (props.row.nombre == null) ? props.row.razonSocial : props.row.nombre + ' ' + props.row.apellido }}</strong>
          </q-td>
          <q-td  key="alias" :props="props" @click.native="tablaClick(props.row)">
            {{ props.row.alias == null ? 'Sin alias' : props.row.alias }}
          </q-td>
          <q-td auto-width key="direccion" :props="props" @click.native="tablaClick(props.row)">
            {{ props.row.direccion == null ? 'Sin dirección' : props.row.direccion }}
          </q-td>
          <q-td auto-width key="telefono" :props="props" @click.native="tablaClick(props.row)">
            {{ props.row.telefono != null ? props.row.telefono + ' ' : '' }} {{ props.row.celular != null ? props.row.celular : ''}} {{ props.row.telefono == null && props.row.celular == null ? 'Sin número de contacto' : ''}}
          </q-td>
          <q-td auto-width>
            <q-btn size="md" outline class="no-border" color="negative" icon="icon-eliminar" @click.native="eliminar(props.row)"/>
          </q-td>  
        </q-tr>
      </q-table>
    </div>

    <q-modal v-model="mostrar" :content-css="{maxWidth: '720px', minWidth: '650px'}" no-esc-dismiss no-backdrop-dismiss>
      <p class="q-pt-xl q-pl-xl" style="font-size:22px"> <strong>{{ editar ? 'Actualizar cliente' : 'Cliente nuevo'}}</strong> </p>
      <div class="row justify-center bg-white q-mb-xl">
        <q-field label="Cedula/Nit" class="col-4">
          <q-input v-model="cliente.cedula" tabindex="0" clearable inverted-light/>
        </q-field>
        <q-field label="Nombre" class="q-ml-md col-4">
          <q-input v-model="cliente.nombre" tabindex="1" clearable inverted-light/>
        </q-field>
        <q-field label="Apellido" class="col-4 q-mt-md">
          <q-input v-model="cliente.apellido" tabindex="2" clearable inverted-light/>
        </q-field>
        <q-field label="alias" class="q-ml-md col-4 q-mt-md">
          <q-input v-model="cliente.alias" tabindex="4" clearable inverted-light/>
        </q-field>
        <q-field label="Razon Social" class="col-4 q-mt-md">
          <q-input v-model="cliente.razonSocial" tabindex="5" clearable inverted-light/>
        </q-field>
        <q-field label="Direccion" class="q-ml-md col-4 q-mt-md">
          <q-input  v-model="cliente.direccion" tabindex="6" clearable inverted-light/>
        </q-field>
        <q-field label="Celular" class="col-4 q-mt-md">
          <q-input v-model="cliente.celular" tabindex="7" clearable inverted-light/>
        </q-field>
        <q-field label="Telefono" class="q-ml-md col-4 q-mt-md">
          <q-input v-model="cliente.telefono" tabindex="8" clearable inverted-light/>
        </q-field>
      </div>
      <div class="row justify-center q-mb-xl">
        <q-btn :label=" editar ? 'Actualizar' : 'Guardar'" color="primary" @click.native="ejecutar"/>
        <q-btn :label="editar ? 'Cancelar': 'Cerrar'" class="q-ml-xs" color="faded" @click.native="restablecer"/>
      </div>
    </q-modal>

    <q-page-sticky position="bottom-right" :offset="[32, 32]">
      <q-btn  size="lg" round color="primary" @click="() => {mostrar = true}" icon="add"/>
    </q-page-sticky>

  </div>
</template>

<script>
import {Clientes} from 'src/database'
export default {
  name: 'ComponentClientes',
  data () {
    return {
      buscar: '',
      mostrar: false,
      editar: false,
      cliente: {
        id: '',
        nombre: '',
        apellido: '',
        direccion: '',
        telefono: '',
        celular: '',
        cedula: '',
        alias: '',
        razonSocial: '',
        creditos: [],
        total: 0
      },
      objs: [],
      columnas:[
        {
          style:'width: 50px'
        },
        {
          name: 'cedula',
          label: 'Cedula/Nit',
          field: 'cedula',
          align: 'left',
          sortable: true
        },
        {
          name: 'nombre',
          label: 'Nombre',
          field: 'nombre',
          align: 'left',
          sortable: true
        },
        {
          name: 'alias',
          label: 'Alias',
          field: 'alias',
          align: 'left'
        },
        {
          name: 'direccion',
          label: 'Direccion',
          field: 'direccion',
          align: 'left',
        },
        {
          name: 'telefono',
          label: 'Numero de contacto',
          field: 'telefono',
          align: 'left'
        },{
          
        }
      ],
      pagination: {
        sortBy: "nombre",
        descending: false,
        rowsPerPage: 0 // specifying this determines pagination is server-side
      },
    }
  },
  beforeMount(){
    this.$nextTick(() => {
      this.cargar()
    })
  },
  methods:{
    cargar(){
      Clientes.find({}, (e, docs) => {
        if(docs.length > 0){
          this.objs = JSON.parse(JSON.stringify(docs))
        } else{
          this.objs = []
        }
        if(e){
          this.$q.notify({
            message: 'Los datos se encuentra corrupto por manipulacion manual',
            position: 'top-right'
          })
        }
      })
    },
    ejecutar(){
      this.cliente.cedula = this.cliente.cedula.trim()
      this.cliente.nombre = this.cliente.nombre.trim().toUpperCase()
      this.cliente.apellido = this.cliente.apellido.trim().toUpperCase()
      this.cliente.alias = this.cliente.alias.trim().toUpperCase()
      this.cliente.direccion = this.cliente.direccion.trim().toUpperCase()
      this.cliente.razonSocial = this.cliente.razonSocial.trim().toUpperCase()
      console.log(this.cliente)
      if(this.cliente.cedula == ''){
        this.$q.notify({
          message: 'Especifica el número de cédula o nit del cliente',
          position: 'top-right'
        })
      }else if(this.cliente.nombre == '' && this.cliente.apellido == '' && this.cliente.razonSocial == ''){
        this.$q.notify({
          message: 'Si el cliente es una empresa solo especifica su razon social',
          position: 'top-right'
        })
      }else if(this.cliente.nombre == '' && this.cliente.razonSocial == ''){
        this.$q.notify({
          message: 'Especifica el nombre del cliente',
          position: 'top-right'
        })
      } else if(this.cliente.apellido == '' && this.cliente.razonSocial == ''){
        this.$q.notify({
          message: 'Especifica el apellido del cliente',
          position: 'top-right'
        })
      }else{
        if(this.cliente.celular == ''){
          this.cliente.celular = null
        }
        if(this.cliente.telefono == ''){
          this.cliente.telefono = null
        }
        if(this.cliente.direccion == ''){
          this.cliente.direccion = null
        }
        if(this.cliente.alias == ''){
          this.cliente.alias = null
        }
        if(this.cliente.razonSocial == ''){
          this.cliente.razonSocial = null
        }
        if(this.cliente.nombre == ''){
          this.cliente.nombre = null
        }
        if(this.cliente.apellido == ''){
          this.cliente.apellido = null
        }

        if(this.editar){
          this.actualizar()
        } else {
          let ok = true
          this.objs.forEach(cliente => {
            if(cliente.cedula == this.cliente.cedula){
              ok = false
              return
            }
          })
          if(ok) {
            this.guardar()
          } else {
            this.$q.notify({
              message: 'Ya existe un cliente con la cedula o nit ' + this.cliente.cedula,
              position: 'top-right'
            })
          }
        }

      }
    },
    guardar(){
      let doc = JSON.parse(JSON.stringify(this.cliente))
      delete doc.id
      Clientes.insert(doc, (e, doc) => {
        if(e){
          this.$q.notify({
            message: 'Ocurrio un error al guardar el cliente',
            position: 'top-right'
          })
        } else{
          this.objs.push(JSON.parse(JSON.stringify(doc)))
          this.restablecer()
        }
      })
    },
    actualizar(){
      Clientes.update({_id: this.cliente.id},{$set: JSON.parse(JSON.stringify(this.cliente))},{multi:false}, (err, cambio) => {
        if (err) {
          console.log(err);
        } else {
          Clientes.find({}, (err, docs) => {
            this.objs = JSON.parse(JSON.stringify(docs));
          });
          this.restablecer();
        }
      });
    },
    restablecer(){
      this.editar = false,
      this.mostrar = false
      this.cliente = {
        id: '',
        nombre: '',
        apellido: '',
        direccion: '',
        telefono: '',
        celular: '',
        cedula: '',
        alias: '',
        razonSocial: '',
        creditos: [],
        abonos:[],
        total: 0
      }
    },
    tablaClick(row){
      this.cliente.id = row._id,
      this.cliente.nombre = row.nombre == null ? '' : row.nombre
      this.cliente.apellido = row.apellido == null ? '' : row.apellido
      this.cliente.cedula = row.cedula
      this.cliente.alias = row.alias == null ? '' : row.alias
      this.cliente.direccion = row.direccion == null ? '' : row.alias
      this.cliente.celular = row.celular == null ? '' : row.celular
      this.cliente.telefono = row.telefono == null ? '' : row.telefono
      this.cliente.razonSocial = row.razonSocial == null ? '' : row.razonSocial
      this.editar = true
      this.mostrar = true
    },
    recargar(){
      window.location.reload()
    },
    eliminar(row){
      console.log(row)
      this.$q.dialog({
        title: 'Eliminar cliente',
        message: '¿Desea eliminar a ' + (row.nombre == null ? row.razonSocial + '?' : row.nombre + ' ' + row.apellido + '?'),
        ok: 'Si, eliminar',
        cancel: 'No'
      }).then(() => {
        Clientes.remove({_id: row._id},{}, (err, numRemove) => {
          if(err){
            console.log(err);
            this.$q.notify("Algo salio mal, no se pudo eliminar al cliente")
          } else {
            if(!!numRemove == true){
              this.cargar()
            } else {
              this.$q.notify("No se eliminó el cliente")
            }
          }        
        })
      })
    }
  }
}
</script>

<style>
</style>
