<template>
  <div class="row relative">
    <div class="col-lg-6 col-xl-6 offset-lg-3 offset-xl-4"> 
      <div class="row relative">

        <div class="q-mx-xl q-my-md" style="width:calc(100% - 80px)">
          <div class="row fixed bg-tertiary" style="z-index:200;width:100%;top:63px">
            <div class="relative row q-pt-md q-pb-xs items-center">
              <q-btn-group>
                <q-btn  icon="icon-actualizar" @click.native="recargar" color="primary">
                  <q-tooltip>Actualiza deuda</q-tooltip>
                </q-btn>
              </q-btn-group>
              <q-datetime v-model="fecha2" inverted-light type="date" format="DD/MM/YYYY" style="width:150px;background:white!important" @change="buscarFecha"/>
            </div>
          </div>

          <div class="row q-mt-xl q-pa-md bg-white">
              <div class="col-xl-12 col-lg-12">

                <q-field label="Valor inventario">
                  ${{(inventario).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}}
                </q-field>

                <q-field label="Total deudas">
                  ${{(deudas).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}}
                </q-field>

                <q-field label="Total creditos">
                  ${{(creditos).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}}
                </q-field>

                <q-field label="Capital:">
                  <q-input prefix="$" @input="actualizar" v-model="capital" inverted-light type="number"/>
                </q-field>

                <q-field label="Total banco">
                  ${{(banco).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}}
                </q-field>

                <q-field label="Efectivo:">
                  <q-input prefix="$" @input="actualizar" v-model="efectivo" inverted-light type="number"/>
                </q-field>

                <q-field label="Total">
                  <strong>${{(total).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}}</strong>
                </q-field>
                
              </div>
          </div>


        </div>






      </div>
    </div>
  </div>
</template>

<script>
import {LocalStorage} from 'quasar'
import {Inventario, Deudas, Banco, Clientes, Prestado, UnidadesP} from 'src/database'
export default {
  data () {
    return {
      fecha: 0,
      fecha2:0,
      inventario: 0,
      deudas: 0,
      banco:0,
      efectivo:0,
      capital:0,
      creditos: 0,
      total: 0
    }
  },
  mounted(){
    
    this.fecha2 = LocalStorage.get.item("fecha");
    this.fecha = this.$moment(this.fecha2).startOf('day').unix()
    this.cargar()
  },
  methods:{
    cargar(){

      this.capital = 0
      this.efectivo = 0
      this.inventario = 0
      this.deudas = 0
      this.banco = 0
      this.creditos = 0

      let capital = this.$q.localStorage.get.item('capital')
      if(capital != null){
        this.capital = capital
      }

      let efectivo = this.$q.localStorage.get.item('efectivo')
      if(efectivo != null){
        this.efectivo = efectivo
      }


      

      let archivo = this.$moment().format('MMMM_YYYY')
      let lata = 'lata_' + archivo
      let botella = 'botella_' + archivo
      let plastico = 'plastico_' + archivo
      let envace = 'envace_' + archivo


      let dbLata = Inventario(lata)
      let dbBotella = Inventario(botella)
      let dbPlastico = Inventario(plastico)
      let dbEnvace = Inventario(envace)

      dbLata.findOne({fecha: this.fecha}, (e, doc) => {
        if(doc != null){
          let objs = JSON.parse(JSON.stringify(doc.objs))
          objs.forEach(element => {
            this.inventario = this.inventario + element.total
          })
        }
      })

      dbPlastico.findOne({fecha: this.fecha}, (e, doc) => {
        if(doc != null){
          let objs = JSON.parse(JSON.stringify(doc.objs))
          objs.forEach(element => {
            this.inventario = this.inventario + element.total
          })
        }
      })

      dbBotella.findOne({fecha: this.fecha}, (e, doc) => {
        if(doc != null){
          let objs = JSON.parse(JSON.stringify(doc.objs))
          objs.forEach(element => {
            this.inventario = this.inventario + element.total
          })
        }
      })

      dbEnvace.findOne({fecha: this.fecha}, (e, doc) => {
        if(doc != null){
          let objs = JSON.parse(JSON.stringify(doc.objs))
          objs.forEach(element => {
            this.inventario = this.inventario + element.total
          })
        }
      })

      UnidadesP.find({}, (e, doc) => {
        if(doc.length > 0){
          let objs = JSON.parse(JSON.stringify(doc))
          objs.forEach(element => {
            this.inventario = this.inventario + element.total
          })
        }
      })

      Prestado.find({}, (e, docs) => {
        if(docs.length > 0){
          docs.forEach(item => {
            this.inventario = this.inventario + (item.x30 * 6000)
            this.inventario = this.inventario + (item.x38 * 6800)
            this.inventario = this.inventario + (item.x16 * 9400)
            this.inventario = this.inventario + (item.caja * 3000)
            this.inventario = this.inventario + (item.b100 * 100)
            this.inventario = this.inventario + (item.b200 * 400)
          })
        }
      })

      Deudas.find({}, (e, d) => {
        if(d.length > 0){
          this.deudas = d[0].total
        }
      })

      Banco.find({}, (e, d) => {
        if(d.length > 0){
          this.banco = d[0].total
        }
      })

      Clientes.find({}, (e, d) => {
        if(d.length > 0){
          d.forEach(element => {
            this.creditos = this.creditos + element.total
          })
        }
      })

      setTimeout(() => {
        this.sumar()
      }, 2000 )

    },
    sumar(){
      this.total = this.inventario - this.deudas + this.creditos - this.capital + this.banco + this.efectivo
    },
    actualizar(){
      this.$q.localStorage.set('capital', this.capital)
      this.$q.localStorage.set('efectivo', this.efectivo)
      this.sumar()

    },
    recargar(){
      window.location.reload()
    },
    buscarFecha(val){
      let fecha = this.$moment(val).startOf("day").toDate();
      this.fecha = this.$moment(val).startOf("day").unix();
      this.cargar()
    }
  }
}
</script>

<style>
</style>
