<template>
  <div class="q-pa-xl">

    <div class="fixed bg-tertiary" style="z-index:200;top:62px;width: calc(100% - 158px);left: 113px;">
      <div class="relative row items-center q-pt-md q-pb-xs">
        <strong style="font-size:18px">Productos</strong>
        <q-btn-group class="q-ml-xl">
          <q-btn icon="icon-nuevo" color="primary" @click="() => {mostrar = true}">
            <q-tooltip>Agregar un nuevo producto</q-tooltip>
          </q-btn>
          <q-btn  icon="icon-actualizar" @click.native="recargar" color="primary">
            <q-tooltip>Actualiza cambios</q-tooltip>
          </q-btn>
        </q-btn-group>
        <q-search color="primary" v-model="buscar" inverted-light class="q-ml-md" placeholder="Buscar" clearable style="background:white!important"/>
      </div>
    </div>

    <div class="row">
      <q-table id="tabla" class="full-width bg-white" :filter="buscar" :data="productos" :columns="columnas" row-key="name" :pagination.sync="pagination">
        <q-tr slot="body" slot-scope="props" :props="props">
          <q-td key="img" :props="props" @click.native="tablaClick(props.row)">
             <img :src="props.row.img != null || props.row.img != undefined ? props.row.img : 'statics/productos/generica.png' " height="100px">
          </q-td>
          <q-td key="nombre" :props="props" @click.native="tablaClick(props.row)">
            <strong>{{ props.row.nombre }}</strong>
          </q-td>
          <q-td key="ref" :props="props" @click.native="tablaClick(props.row)">
            {{ props.row.ref == null ? '---' : props.row.ref }}
          </q-td>
          <q-td key="contenido" :props="props" @click.native="tablaClick(props.row)">
            {{ props.row.contenido }}
          </q-td>
          <q-td key="unidades" :props="props" @click.native="tablaClick(props.row)">
            {{ props.row.unidades }}
          </q-td>
          <q-td key="caja" :props="props" @click.native="tablaClick(props.row)">
            {{ props.row.caja }}
          </q-td>
          <q-td key="retornable" :props="props" @click.native="tablaClick(props.row)">
            {{ (props.row.retornable == true ? 'Retornable' : 'No retornable') }}
          </q-td>
          <q-td key="precio" :props="props" @click.native="tablaClick(props.row)">
            <strong>{{ (props.row.precio).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') }}</strong>
          </q-td>
          <q-td >
            <q-btn size="md" outline class="no-border" color="negative" icon="icon-eliminar" @click.native="eliminar(props.row)"/>
          </q-td>  
        </q-tr>
      </q-table>
    </div>

    

    <q-modal v-model="mostrar" no-esc-dismiss no-backdrop-dismiss>
      <p class="q-pt-xl q-pl-xl" style="font-size:22px"> <strong>{{ editar ? 'Actualizar producto' : 'Nuevo producto'}}</strong> </p>
      <div class="row q-pb-xl q-pl-xl bg-white">
        <div class="col-4 q-mr-md">
          Nombre:
          <q-input clearable inverted-light v-model="nombre"/>
        </div>
        <div class="col-4 q-mr-md">
          Referencia:
          <q-input clearable inverted-light v-model="ref"/>
        </div>
        <div class="col-2">
          Presentacion:
          <q-select inverted-light v-model="contenido" :options="contenidoModel"/>
        </div>
      </div>
      <div class="row q-pb-xl q-pl-xl bg-white" >
        <div class="col-2 q-mr-md">
          Unidades:
          <q-select inverted-light v-model="unidades" :options="unidadesModel"/>
        </div>
        <div class="col-2">
          Tipo caja:
          <q-select inverted-light :value="caja" :options="cajaModel" @change="validarRetornable"/>
        </div>
        <div class="col-4 q-ml-md">
          Precio:
          <q-input v-model="precio" type="number" clearable inverted-light align="right" prefix="$"/>
        </div>
        <div class="col-2 q-pt-lg q-ml-md">
          <q-checkbox v-model="retornable"  label="retornable"/>
        </div>
      </div>
      <div class="row justify-center q-mb-xl">
        <q-btn-group>
          <q-btn :label=" editar ? 'Actualizar' : 'Guardar'" color="primary" @click.native="ejecutar"/>
          <q-btn label="Imagen" outline color="primary" @click.native="dialogFoto=true"/>
          <q-btn :label="editar ? 'Cancelar': 'Cerrar'" outline color="primary" @click.native="restablecer"/>
        </q-btn-group>
      </div>
    </q-modal>

    <q-modal v-model="dialogFoto" no-esc-dismiss no-backdrop-dismiss :content-css="{maxWidth: '950px'}">
      <vue-select-image :dataImages="dataImages" @onselectimage="onSelectImage">
      </vue-select-image>
    </q-modal>

    <q-page-sticky position="bottom-right" :offset="[32, 32]">
      <q-btn  size="lg" round color="primary" @click="() => {mostrar = true}" icon="add"/>
    </q-page-sticky>

  </div>
</template>

<script>
import { Dialog } from 'quasar'
import {Productos, Contenido, Unidades} from "src/database";
require('vue-select-image/dist/vue-select-image.css')

export default {
  data() {
    return {
      total:1,
      mostrar: false,
      dialogFoto: false,
      buscar: '',
      id: null,
      index: null,
      editar: false,
      nombre: "",
      ref: "",
      precio: "",
      contenido: null,
      contenidoModel: [],
      unidades: null,
      unidadesModel: [],
      img: null,
      size:[],
      caja: "Botella",
      dataImages:[
        {
          id:1,
          src: 'statics/productos/aguilita.png'
        }, 
        {
          id:2,
          src: 'statics/productos/aguila.png'
        },
        {
          id:3,
          src: 'statics/productos/aguila-750.png'
        },
        {
          id:4,
          src: 'statics/productos/aguila-light.png'
        },
        {
          id:5,
          src: 'statics/productos/aguila-light-750_0.png'
        },
        {
          id:6,
          src: 'statics/productos/poker.png'
        },{
          id:7,
          src: 'statics/productos/poker-750.png'
        },{
          id:8,
          src: 'statics/productos/pilsen.png'
        },{
          id:9,
          src: 'statics/productos/pilsen 750.png'
        },
        {
          id:10,
          src: 'statics/productos/club dorada.png'
        },{
          id:11,
          src: 'statics/productos/club roja.png'
        },{
          id:12,
          src: 'statics/productos/club negra.png'
        },{
          id:13,
          src: 'statics/productos/club trigo.jpg'
        },{
          id:14,
          src: 'statics/productos/redds.png'
        },{
          id:15,
          src: 'statics/productos/costellita.png'
        },{
          id:16,
          src: 'statics/productos/corona.png'
        },{
          id:17,
          src: 'statics/productos/coronita.png'
        },{
          id:18,
          src: 'statics/productos/budweiser.png'
        },{
          id:19,
          src: 'statics/productos/budweiser.png'
        },{
          id:20,
          src: 'statics/productos/Botella.png'
        },{
          id:21,
          src: 'statics/productos/ponymalta.png'
        },{
          id:22,
          src: 'statics/productos/ponymalta.png'
        },{
          id:23,
          src: 'statics/productos/stela.png'
        },{
          id:24,
          src: 'statics/productos/bbc.jpg'
        },{
          id:25,
          src: 'statics/productos/lata-original-269_0.png'
        },{
          id:26,
          src: 'statics/productos/lata-original-330-2.png'
        },{
          id:27,
          src: 'statics/productos/lata-light-269.png'
        },{
          id:28,
          src: 'statics/productos/lata-light-330.png'
        },{
          id:29,
          src: 'statics/productos/poker lata.png'
        },{
          id:30,
          src: 'statics/productos/pilsen lata.png'
        },{
          id:31,
          src: 'statics/productos/club dorada  lata.jpg'
        },{
          id:32,
          src: 'statics/productos/clubb roja lata.jpg'
        },{
          id:33,
          src: 'statics/productos/club negra lata.jpg'
        },{
          id:34,
          src: 'statics/productos/pony lata.jpg'
        },{
          id:35,
          src: 'statics/productos/redds lata.png'
        },{
          id:36,
          src: 'statics/productos/budweiser latajpg.jpg'
        },
        {
          id:37,
          src: 'statics/productos/cola y pola lata.png'
        },
        {
          id:38,
          src: 'statics/productos/ponny mini.jpg'
        },{
          id:39,
          src: 'statics/productos/pony pet.jpg'
        },{
          id:40,
          src: 'statics/productos/pony 1.0.jpg'
        },{
          id:41,
          src: 'statics/productos/pony 1.5.jpg'
        },{
          id:42,
          src: 'statics/productos/cola y pola 1.5.jpg'
        }
      ],
      cajaModel: [
        {
          label: "Botella",
          value: "Botella"
        },
        {
          label: "Lata",
          value: "Lata"
        },
        {
          label: "Botella plastica",
          value: "Botella plastica"
        }
      ],
      retornable: true,
      pagination: {
        sortBy: "nombre",
        descending: false,
        rowsPerPage: 0 // specifying this determines pagination is server-side
      },
      columnas: [
        {
          name: "img",
          label: "",
          field: "img",
          align: "center"
        },
        {
          name: "nombre",
          label: "Producto",
          field: "nombre",
          align: "left",
          sortable: true
        },
        {
          name: "ref",
          label: "Referencia",
          field: "ref"
        },
        {
          name: "contenido",
          label: "Capacidad x unidad",
          field: "contenido",
          align: "right",
          sortable: true
        },
        {
          name: "unidades",
          label: "Unidades",
          field: "unidades",
          align: "right",
          sortable: true
        },
        {
          name: "caja",
          label: "Envace",
          field: "caja",
          align: "left",
          sortable: true
        },
        {
          name: "retornable",
          label: "Retornable",
          field: "retornable",
          align: "center"
        },
        {
          name: "precio",
          label: "Precio",
          field: "precio",
          align: "center",
          sortable: true
        }
      ],
      productos: []
    };
  },
  beforeMount() {
    this.$nextTick(() => {
      this.cargar()
    });
  },
  mounted(){
    var isAppend = false
    var isSizes = false

    document.getElementsByTagName('body')[0].onscroll = function (){
      
      if( (document.documentElement ||document.body.parentNode || document.body).scrollTop >= 225){
        
      } else{
        
      }
    }
  },
  beforeDestroy(){
    document.getElementsByTagName('body')[0].onscroll = function (){}
  },
  methods: {
    cargar(){
      Productos.find({}, (err, docs) => {
        this.productos = JSON.parse(JSON.stringify(docs));
      });
      Contenido.find({},(e, docs) => {
        if(docs){
          this.contenidoModel = docs
          this.contenido = docs[0].value
        }
      })
      Unidades.find({}, (e, docs) => {
          if (docs) {
            this.unidadesModel = docs
            this.unidades = docs[0].value
          }
        })
    },
    tablaClick(row) {
      // = 0
      this.index = row.__index;
      this.caja = row.caja;
      this.nombre = row.nombre;
      this.contenido = row.contenido;
      this.unidades = row.unidades;
      this.retornable = row.retornable;
      this.ref = row.ref;
      this.precio = row.precio;
      this.editar = true;
      this.id = row._id;
      this.mostrar = true
      this.img = row.img
    },
    ejecutar() {
      if (this.nombre == "" || this.nombre == null) {
        this.$q.notify({
          message: "Establece un nombre del producto",
          type: "negative"
        });
      } else if (this.precio == "" || this.precio == null) {
        this.$q.notify({
          message: "Establece un precio al producto",
          type: "negative"
        });
      } else if(this.unidades == "" || this.unidades == undefined || this.unidades == null){
        this.$q.notify({
          message: "Agrega o selecciona unidades por caja",
          type: "negative"
        });
      } else if(this.contenido == "" || this.contenido == undefined || this.contenido == null) {
        this.$q.notify({
          message: "Agrega o selecciona el contenido del producto",
          type: "negative"
        });
      }else {
        if (this.editar) {
          this.actualizar();
        } else {
          this.guardar();
        }
      }
    },
    guardar() {
      let ok = true

      this.productos.forEach(element => {
        if(element.ref == this.ref){
          ok = false
        }
      });

      if(ok) {
        if (this.ref == "") {
          this.ref = null;
        }
        
        var doc = {
          nombre: this.nombre.trim().toUpperCase(),
          ref: this.ref,
          contenido: this.contenido,
          unidades: this.unidades,
          caja: this.caja,
          retornable: this.retornable,
          precio: this.precio,
          img: this.img
        };
        Productos.insert(doc, (err, nuevo) => {
          if (err) {
            console.log(err);
          } else {
            this.productos.push(nuevo);
            this.restablecer();
          }
        });
      } else{
        this.$q.notify({
          message: 'Ya se encuentra registrado un producto con la misma referencia',
          position: 'top-right'
        })
      }
    },
    actualizar() {
      var doc = {
        nombre: this.nombre.trim().toUpperCase(),
        ref: this.ref.trim(),
        contenido: this.contenido,
        unidades: this.unidades,
        caja: this.caja,
        retornable: this.retornable,
        precio: this.precio,
        img: this.img
      };
      Productos.update({ _id: this.id }, {$set: doc}, {multi:false}, (err, cambio) => {
        if (err) {
          console.log(err);
        } else {
          Productos.find({}, (err, docs) => {
            this.productos = JSON.parse(JSON.stringify(docs));
          });
          this.restablecer();
        }
      });
    },
    restablecer() {
      this.img = null
      this.editar = false;
      this.nombre = "";
      this.ref = "";
      this.caja = "Botella";
      this.unidades = this.unidadesModel[0].value
      this.contenido = this.contenidoModel[0].value
      this.precio = 0;
      this.index = null;
      this.mostrar = false
    },
    recargar(){
        window.location.reload()
      }, 
    eliminar(row){
      this.$q.dialog({
        title: 'Eliminar producto',
        message: '¿Desea eliminar el producto ' + row.nombre + ' ' + row.caja.toUpperCase() + ' x ' + row.unidades + ' und x ' + row.contenido + ' c-u?',
        ok: 'Si, eliminar',
        cancel: 'No'
      }).then(() => {
        Productos.remove({_id:row._id}, {}, (err, numRemove) => {
          if(err){
            console.log(err);
            this.$q.notify("Algo salio mal, no se pudo eliminar el producto")
          } else {
            if(!!numRemove == true){
              this.cargar()
            } else {
              this.$q.notify("No se eliminó el producto")
            }
          }        
        })
      })
    },
    validarRetornable(val) {
      console.log(val)
      this.caja = val
      if(val == 'Botella'){ this.retornable = true } else { this.retornable = false}
    },
    onSelectImage(img){
      this.img = img.src
      this.dialogFoto = false
    }
  }
};
</script>

<style>
.vue-select-image__item{
  float: none; 
  display: inline-block;
}
</style>
