<template>
  <div class="q-mx-xl q-my-md" style="width:calc(100% - 80px)">

    <div class="row fixed bg-tertiary q-pt-md q-pb-xs" style="z-index:200;width:100%;top:62px">
      <div class="relative row items-center">
        <q-datetime v-model="fecha" inverted-light type="date" format="DD/MM/YYYY" style="width:150px;background:white!important" @change="buscarFecha"/>
        <q-search hide-underline color="primary" class="q-ml-md round-borders" v-model="buscar" clearable placeholder="Buscar" style="width:200px;padding-left:5px;padding-top: 6px;padding-bottom: 6px;background:white!important"/>
        <q-btn-group class="q-ml-md">
          <q-btn icon="icon-nuevo" color="primary" @click="nuevo" :disable="objs.length > 0">
            <q-tooltip>Crear una seccion del inventario</q-tooltip>
          </q-btn>
          <q-btn  icon="icon-actualizar" @click.native="recargar" color="primary">
            <q-tooltip>Actualiza cambios</q-tooltip>
          </q-btn>
          <q-btn  icon="icon-eliminar" @click.native="eliminar" color="primary" :disable="id==0">
            <q-tooltip>Elimina esta seccion</q-tooltip>
          </q-btn>
          <q-btn icon="icon-inventario-close"  color="primary" @click="cerrarInventarios" :disable="id==0">
            <q-tooltip>Precargar el inventario de esta seccion para mañana</q-tooltip>
          </q-btn>
        </q-btn-group>
      </div>
    </div>

    <q-table :data="objs" :columns="columnas" row-key="name" class="bg-white" :pagination.sync="paginacion">
      
      <template slot="top-left" slot-scope="props" >
        <div class="fixed" style="z-index:100">
          <div id="toolbar" class="relative row items-center q-pa-md round-borders">
            <q-field>
              <strong>Venta total: </strong>${{ (total).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') }}
            </q-field>
            <q-field class="q-ml-md">
              <strong>Subtotal: </strong>${{ (totalParte).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') }}
            </q-field>
            <q-field class="q-ml-md">
              <strong>{{ cerrado ? 'Invetario cerrado' : 'Inventario abierto'}}</strong>
            </q-field>
          </div>
        </div>
      </template>

      <q-tr slot="body" slot-scope="props" :props="props" :style="isActual ? (props.row.total < 0 ? 'background: rgb(255, 59, 48);color:white' : 'color:black') : (props.row.total < 0 ? 'background: rgb(255, 59, 48);color:white' : 'background:rgb(255, 204, 0);color:black')">
        <q-td key="img" :props="props" style="background:white">
          <img :src="props.row.img != null || props.row.img != undefined ? props.row.img : 'statics/productos/generica.png' " height="100px">
        </q-td>
        <q-td key="nombre" :props="props">
          <strong>{{props.row.nombre}}</strong>
        </q-td>
        <q-td key="inicial" :props="props">
          {{props.row.inicial}}

          <q-popup-edit  v-model="props.row.inicial" title="Inicial" buttons
            :validate="(e) => { if( Number.isInteger(e) ) { if(parseInt(e) >= 0) { validar(e, props.row); return true } return false }else { return false }  }">
            <q-input type="number" :decimals="0" v-model="props.row.inicial" inverted-light/>
          </q-popup-edit>

        </q-td>
        
        <q-td key="actual" :props="props">
          {{props.row.actual}}

          <q-popup-edit  v-model="props.row.actual" title="Actual" buttons
            :validate="(e) => { if( Number.isInteger(e) ) { if(parseInt(e) >= 0) { validar(e, props.row); return true } return false }else { return false }  }">
            <q-input type="number" :decimals="0" v-model="props.row.actual" inverted-light/>
          </q-popup-edit>

        </q-td>
        <q-td :props="props" key="prestado">
          {{props.row.prestado}}
        </q-td>
        <q-td key="diferencia" :props="props">
          <strong>{{props.row.diferencia}}</strong>
        </q-td>
        <q-td key="total" :props="props">
          <strong>${{(props.row.total).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}}</strong>
        </q-td>
      </q-tr>

    </q-table>
  </div>
</template>

<script>
  import {
    LocalStorage
  } from "quasar";
  import {
    Inventario,
    Productos,
    Disponible
  } from "src/database";
  import {
    cargarDB,
    isActual,
    nuevoInventario,
    guardarFecha,
    actualizarCalculos,
    diaSiguiente,
    sincronizarProductos
  } from "src/funciones/inventario";
  var db;
  
  export default {
    // name: 'ComponentName',
    data() {
      return {
        id: 0,
        fecha: null,
        total: 0,
        totalParte: 0,
        tempTotal: 0,
        buscar: "",
        isActual: false,
        isInicial: false,
        editar: false,
        objs: [],
        cerrado: false,
        columnas: [
          {
            name: 'img',
            field: 'img'
          },
          {
            name: "nombre",
            label: "Nombre",
            field: "nombre",
            align: "left",
            sortable: true
          },
          {
            name: "inicial",
            label: "Inicial",
            field: "inicial",
            align: "right"
          },
          {
            name: "actual",
            label: "Actual",
            field: "actual",
            align: "right"
          },
          {
            name: "diferencia",
            label: "Diferencia",
            field: "diferencia",
            align: "right"
          },
          {
            name: "total",
            label: "Total",
            field: "total",
            align: "right"
          }
        ],
        paginacion: {
          sortBy: "nombre",
          descending: true,
          rowsPerPage: 0
        }
      };
    },
    beforeMount() {
      this.fecha = LocalStorage.get.item("fecha");
      let primeraVez = LocalStorage.get.item('primeraVez')
      this.isInicial = primeraVez
      this.cargar();
    },
    mounted(){
    window.onscroll = function(){
      let toolbar = document.getElementById('toolbar')
      let scroll = (document.documentElement ||document.body.parentNode || document.body).scrollTop
      if(scroll >= 100){
        toolbar.classList.toggle('shadow-4', true)
        toolbar.style.background = '#1d71fd'
        toolbar.style.color = 'white'
      } else {
        toolbar.classList.toggle('shadow-4', false)
        toolbar.style.background = 'white'
        toolbar.style.color = 'black'
      }
    }
  },
  beforeDestroy(){
    window.onscroll = ()=>{}
  },
    methods: {
      buscarFecha(val) {
        guardarFecha(this, val)
      },
      cargar() {
        if (isActual(this.fecha)) {
          this.isActual = true;
          this.editar = true;
          this.cerrado = false;
        } else {
          this.isActual = false;
          this.editar = false;
          this.cerrado = true;
        }
        db = cargarDB("envace", this);
      },
      nuevo() {
        nuevoInventario(this, 'Envace', 'envace', db)
      },
      actualizar() {
        actualizarCalculos(this, db)
      },
      validar(val, row) {
        row.diferencia = row.inicial - row.actual;
        row.total = row.diferencia * row.precio;
        this.actualizar();
      },
      cerrarInventarios() {
        if(this.id != 0 && this.editar){
          diaSiguiente(this)
        }
      },
      recargar(){
        window.location.reload()
      },
      eliminar(){
        if(this.id != 0){
          this.$q.dialog({
          title: 'Eliminar',
          message: '¿Desea eliminar esta seccion del inventario?',
          ok: 'Si, estoy seguro',
          cancel: 'No'
          }).then(() => {
            if(this.isActual){
              Disponible.remove({}, { multi: true })
            }
            db.remove({_id: this.id}, {}, (err, numRemove) => {
              if(!err){
                this.recargar()
              }
            })
          })
        }
      }
    }
  };
</script>

<style>
  
</style>
