<template>
  <div>
    <div class="row q-pa-md ">
      
    </div>

    <div class="row relative">
      <div class="col-lg-2 bg-white fixed" style="bottom:0;top:75px">
        <q-list link no-border inset-separator>
          <q-list-header>
            <q-item-tile><strong style="color:black;font-size:18px">Inventario</strong> </q-item-tile>
          </q-list-header>
          <q-item to="/app/inventario/inventario" exact>
            <q-item-side icon="icon-lata"/>
            <q-item-main>
              <q-item-tile label>Lata</q-item-tile>
            </q-item-main>
          </q-item>
          <q-item to="/app/inventario/inventario/botella" exact>
            <q-item-side icon="icon-botella"/>
            <q-item-main>
              <q-item-tile label>Botella</q-item-tile>
            </q-item-main>
          </q-item>
          <q-item to="/app/inventario/inventario/plastico" exact>
            <q-item-side icon="icon-plastico"/>
            <q-item-main>
              <q-item-tile label>Botella Plastica</q-item-tile>
            </q-item-main>
          </q-item>
          <q-item to="/app/inventario/inventario/envace" exact>
            <q-item-side icon="icon-caja"/>
            <q-item-main>
              <q-item-tile label>Envace</q-item-tile>
            </q-item-main>
          </q-item>
          <q-item to="/app/inventario/inventario/prestado" exact>
            <q-item-main>
              <q-item-tile label>Envace prestado</q-item-tile>
            </q-item-main>
          </q-item>
          <q-item to="/app/inventario/inventario/unidades" exact>
            <q-item-main>
              <q-item-tile label>Unidades</q-item-tile>
            </q-item-main>
          </q-item>
        </q-list>
      </div>
      
      <div class="col-lg-10 offset-lg-2 ">    
        <router-view/>
      </div>
    </div>

    
  </div>
</template>

<script>

export default {
  // name: 'ComponentName',
  data () {
    return {}
  },
  beforeMount(){
    this.$nextTick(() => {
      
    })
  }
}
</script>

<style>
</style>
