<template>
  <div class="q-mx-xl q-my-md" style="width:calc(100% - 80px)">

    <div class="row fixed bg-tertiary q-pt-md q-pb-xs" style="z-index:200;width:100%;top:62px">
      <div class="relative row items-center">
        <q-btn-group class="q-ml-md">
          <q-btn icon="icon-nuevo" color="primary" @click="mostrar=true">
            <q-tooltip>Agrega un cliente con envaces</q-tooltip>
          </q-btn>
          <q-btn  icon="icon-actualizar" @click.native="recargar" color="primary">
            <q-tooltip>Actualiza cambios</q-tooltip>
          </q-btn>
        </q-btn-group>
      </div>
    </div>

    <q-table :data="objs" :columns="columnas" row-key="name" class="bg-white" :pagination.sync="paginacion">
      <q-tr slot="body" slot-scope="props" :props="props">
        <q-td key="cliente" :props="props">
          {{props.row.cliente.label}}
        </q-td>
        <q-td key="x30" :props="props">
          {{props.row.x30}}

          <q-popup-edit  v-model="props.row.x30" title="x30" buttons @save="actualizar(props.row)">
            <q-input type="number" inverted-light v-model="props.row.x30"></q-input>
          </q-popup-edit>

        </q-td>
        <q-td key="x38" :props="props">
          {{props.row.x38}}

          <q-popup-edit  v-model="props.row.x38" title="x38" buttons @save="actualizar(props.row)">
            <q-input type="number" inverted-light v-model="props.row.x38"></q-input>
          </q-popup-edit>
        </q-td>
        <q-td key="x16" :props="props">
          {{props.row.x16}}
          <q-popup-edit  v-model="props.row.x16" title="x16" buttons @save="actualizar(props.row)">
            <q-input type="number" inverted-light v-model="props.row.x16"></q-input>
          </q-popup-edit>
        </q-td>
        <q-td key="caja" :props="props">
          {{props.row.caja}}
          <q-popup-edit  v-model="props.row.caja" title="Caja vacia" buttons @save="actualizar(props.row)">
            <q-input type="number" inverted-light v-model="props.row.caja"></q-input>
          </q-popup-edit>
        </q-td>
        <q-td key="b100" :props="props">
          {{props.row.b100}}
          <q-popup-edit  v-model="props.row.b100" title="Botella normal" buttons @save="actualizar(props.row)">
            <q-input type="number" inverted-light v-model="props.row.b100"></q-input>
          </q-popup-edit>
        </q-td>
        <q-td key="b200" :props="props">
          {{props.row.b200}}

          <q-popup-edit  v-model="props.row.b200" title="Botella 200" buttons @save="actualizar(props.row)">
            <q-input type="number" inverted-light v-model="props.row.b200"></q-input>
          </q-popup-edit>
        </q-td>
        <q-td auto-width>
          <q-btn icon="icon-eliminar" color="negative" outline class="no-border" @click="eliminar(props.row)"/>
        </q-td>
      </q-tr>
    </q-table>

    <q-modal v-model="mostrar" no-esc-dismiss	no-backdrop-dismiss>
      <div class="q-pa-md">
        <q-field label="Cliente">
          <q-search v-model="buscar" inverted-light>
            <q-autocomplete @search="search" @selected="selected"/>
          </q-search>
        </q-field>
        <div class="row justify-center q-pt-md">
          <q-btn-group>
            <q-btn color="primary" label="guardar" @click="guardar"></q-btn>
            <q-btn color="primary" outline label="cerrar" @click="cerrar"></q-btn>
          </q-btn-group>
        </div>
      </div>
    </q-modal>

  </div>
</template>

<script>
import {filter} from 'quasar'
import {Prestado, Clientes} from 'src/database'
export default {
  // name: 'ComponentName',
  data () {
    return {
      buscar: '',
      clientes:[],
      objs:[],
      x30:0,
      x38:0,
      x16:0,
      caja:0,
      b100:0,
      b200:0,
      cliente: null,
      id: 0,
      mostrar: false,
      editar: false,
      columnas:[
        {
          name: 'cliente',
          field: 'cliente',
          label: 'Cliente',
          align: 'left'
        },
        {
          name: 'x30',
          field: 'x30',
          label: 'x30',
          align: 'right'
        },
        {
          name: 'x38',
          field: 'x38',
          label: 'x38',
          align: 'right'
        },
        {
          name: 'x16',
          field: 'x16',
          label: 'x16',
          align: 'right'
        },
        {
          name: 'caja',
          field: 'caja',
          label: 'Caja vacia',
          align: 'right'
        },
        {
          name: 'b100',
          field: 'b100',
          label: 'Botela normal',
          align: 'right'
        },
        {
          name: 'b200',
          field: 'b200',
          label: 'Botella 750',
          align: 'right'
        }
      ],
      paginacion: {
        sortBy: "cliente",
        descending: true,
        rowsPerPage: 0
      }
    }
  },
  mounted(){
    this.cargar()
  },
  methods:{
    cargar(){
      Clientes.find({}, (e,d) => {
        if(d.length > 0){
          this.clientes = JSON.parse(JSON.stringify(d))
        }
      })

      Prestado.find({}, (e,d) => {
        if(d.length > 0){
          this.objs = JSON.parse(JSON.stringify(d))
        }
      })

    },
    recargar(){
      window.location.reload()
    }, 
    cerrar(){
      this.cliente=null;
      this.mostrar=false;
      this.buscar=''
    },
    guardar(){
      if(this.cliente != null){
        let ok = false 

        this.objs.forEach(item => {
          if(item.value == this.cliente.value){
            ok = true
            return
          }
        })
        if(ok == false){
          let doc= {
            cliente: JSON.parse(JSON.stringify(this.cliente)),
            x30:0,
            x38:0,
            x16:0,
            caja:0,
            b100:0,
            b200:0
          }
          Prestado.insert(doc, (e,d) => {
            this.mostrar = false
            this.objs.push(JSON.parse(JSON.stringify(d)))
          })
        }else {
          this.$q.notify({
            message:'Ya se encuentra registrado',
            icon:'error',
            position:'top-right'  
          })
          this.mostrar = false
        }
        this.buscar = ''
      }else{
        this.$q.notify({
          message:'Selecciona un cliente primero',
          icon:'error',
          position:'top-right'  
        })
      }
    },
    actualizar(item){
      Prestado.update({_id: item._id},{$set:JSON.parse(JSON.stringify(item))},{multi:false})
      this.sumar()
    },
    eliminar(item){
      this.$q.dialog({
        title: 'Eliminar',
        message: '¿Desea eliminar?',
        ok:'Si',
        cancel: 'No'
      }).then(()=> {
        Prestado.remove({_id: item._id}, {},(e,d)=>{
          this.objs = this.objs.filter(element => element._id !== item._id)
        this.sumar()
        })
        
      })
    },
    sumar(){
      let x30 = 0
      let x38 = 0
      let x16 = 0
      let caja = 0
      let b100 = 0
      let b200 = 0

      this.objs.forEach(item => {
        x30 = x30 + item.x30
        x38 = x38 + item.x38
        x16 = x16 + item.x16
        caja = caja + item.caja
        b100 = b100 + item.b100
        b200 = b200 + item.b200
      })

      this.$q.localStorage.set('x30', x30)
      this.$q.localStorage.set('x38', x38)
      this.$q.localStorage.set('x16', x16)
      this.$q.localStorage.set('caja', caja)
      this.$q.localStorage.set('b100', b100)
      this.$q.localStorage.set('b200', b200)
    },
    search(term, done){
      term =  term.toUpperCase()
      let temp = this.clientes.map(cliente => {
        return {
          label: cliente.nombre == null ? cliente.razonSocial : cliente.nombre + ' ' + cliente.apellido,
          sublabel: cliente.cedula,
          value: cliente.cedula,
          avatar: 'statics/default-user.png',
          alias: cliente.alias
        }
      })
      let list = []
      let label = filter(term, {field: 'label', list: temp})
      let sublabel = filter(term, {field: 'sublabel', list: temp})
      let alias = filter(term, {field: 'alias', list: temp})

      if(label.length > 0){
        list = label
      }
      if(sublabel.length > 0){
        list = sublabel
      }
      if(alias.length > 0){
        list = alias
      }
      done(list)
    },
    selected(item){
      this.cliente = item
    }
  }
}
</script>

<style>
</style>
