<template>
  <div class="q-mx-xl q-my-md" style="width:calc(100% - 80px)">

    <div class="row fixed bg-tertiary q-pt-md q-pb-xs" style="z-index:200;width:100%;top:62px">
      <div class="relative row items-center">
        <q-btn-group class="q-ml-md">
          <q-btn icon="icon-nuevo" color="primary" @click="mostrar=true">
            <q-tooltip>Agrega un producto</q-tooltip>
          </q-btn>
          <q-btn  icon="icon-actualizar" @click.native="recargar" color="primary">
            <q-tooltip>Actualiza cambios</q-tooltip>
          </q-btn>
        </q-btn-group>
      </div>
    </div>

    <q-table :data="objs" :columns="columnas" row-key="name" class="bg-white" :pagination.sync="paginacion">
      <q-tr slot="body" slot-scope="props" :props="props">
        <q-td key="img" :props="props" style="background:white">
          <img :src="props.row.producto.img != null || props.row.producto.img != undefined ? props.row.producto.img : 'statics/productos/generica.png' " height="100px">
        </q-td>
        <q-td key="nombre" :props="props">
          {{props.row.producto.nombre}}
        </q-td>
        <q-td key="unidades" :props="props">
          {{props.row.unidades}}

          <q-popup-edit  v-model="props.row.unidades" title="Unidades" buttons @save="actualizar(props.row)">
            <q-input type="number" inverted-light v-model="props.row.unidades"></q-input>
          </q-popup-edit>
        </q-td>
        <q-td key="total" :props="props">
          ${{(props.row.total).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}}
        </q-td>
        <q-td auto-width>
          <q-btn icon="icon-eliminar" color="negative" outline class="no-border" @click="eliminar(props.row)"/>
        </q-td>
      </q-tr>
    </q-table>

    <q-modal v-model="mostrar" no-esc-dismiss	no-backdrop-dismiss>
      <div class="q-pa-md">
        <q-field label="Producto">
          <q-search v-model="buscar" inverted-light>
            <q-autocomplete @search="search" @selected="selected"/>
          </q-search>
        </q-field>
        <div class="row justify-center q-pt-md">
          <q-btn-group>
            <q-btn color="primary" label="guardar" @click="guardar"></q-btn>
            <q-btn color="primary" outline label="cerrar" @click="cerrar"></q-btn>
          </q-btn-group>
        </div>
      </div>
    </q-modal>

  </div>
</template>

<script>
import {filter} from 'quasar'
import {Productos, UnidadesP} from 'src/database'
export default {
  // name: 'ComponentName',
  data () {
    return {
      buscar: '',
      productos:[],
      objs:[],
      producto: null,
      id: 0,
      mostrar: false,
      editar: false,
      columnas:[
        {
          name: "img",
          label: "",
          field: "img",
          align: "center"
        },
        {
          name: "nombre",
          label: "Nombre",
          field: "nombre",
          align: "left",
          sortable: true
        },
        {
          name: 'unidades',
          field: 'unidades',
          label: 'Unidades',
          align: 'right'
        },
        {
          name: 'total',
          field: 'total',
          label: 'total',
          align: 'total'
        },
        {
          name: 'acciones',
          label: 'Acciones',
          align: 'center'
        }
      ],
      paginacion: {
        sortBy: "nombre",
        descending: true,
        rowsPerPage: 0
      }
    }
  },
  mounted(){
    this.cargar()
  },
  methods:{
    cargar(){
      Productos.find({}, (e,d) => {
        if(d.length > 0){
          this.productos = JSON.parse(JSON.stringify(d))
        }
      })

      UnidadesP.find({}, (e,d) => {
        if(d.length > 0){
          this.objs = JSON.parse(JSON.stringify(d))
        }
      })

    },
    recargar(){
      window.location.reload()
    }, 
    cerrar(){
      this.producto=null;
      this.mostrar=false;
      this.buscar=''
    },
    guardar(){
      if(this.producto != null){
        let ok = false 

        this.objs.forEach(item => {
          if(item.producto._id == this.producto._id){
            ok = true
            return
          }
        })
        if(ok == false){
          let doc= {
            producto: JSON.parse(JSON.stringify(this.producto)),
            unidades:0,
            total:0
          }
          UnidadesP.insert(doc, (e,d) => {
            this.mostrar = false
            this.objs.push(JSON.parse(JSON.stringify(d)))
          })
        }else {
          this.$q.notify({
            message:'Ya se encuentra registrado',
            icon:'error',
            position:'top-right'  
          })
          this.mostrar = false
        }
        this.buscar = ''
      }else{
        this.$q.notify({
          message:'Selecciona un cliente primero',
          icon:'error',
          position:'top-right'  
        })
      }
    },
    actualizar(item){
      console.log(item)
      item.total = (item.producto.precio / item.producto.unidades) * item.unidades
      UnidadesP.update({_id: item._id},{$set:JSON.parse(JSON.stringify(item))},{multi:false})
      this.sumar()
    },
    eliminar(item){
      this.$q.dialog({
        title: 'Eliminar',
        message: '¿Desea eliminar?',
        ok:'Si',
        cancel: 'No'
      }).then(()=> {
        UnidadesP.remove({_id: item._id}, {},(e,d)=>{
          this.objs = this.objs.filter(element => element._id !== item._id)
        this.sumar()
        })
        
      })
    },
    sumar(){
      let sum = 0

      this.objs.forEach(item => {
        sum = sum + item.total
      })
    },
    search(term, done){
      term =  term.toUpperCase()
      let temp = this.productos.map(producto => {
        return {
          label: producto.nombre,
          sublabel: 'x' + producto.unidades + ' x ' + producto.contenido + ' ' + producto.caja,
          value: producto._id,
          image: producto.img
        }
      })
      let list = []
      let label = filter(term, {field: 'label', list: temp})
      let sublabel = filter(term, {field: 'sublabel', list: temp})

      if(label.length > 0){
        list = label
      }
      if(sublabel.length > 0){
        list = sublabel
      }

      done(list)
    },
    selected(item){
      this.productos.forEach(producto => {
        if(producto._id == item.value){
          this.producto = producto
        }
      })
    }
  }
}
</script>

<style>
</style>
