<template>
  <q-layout class="bg-tertiary">
    <span class="fixed" style="bottom: 50px;left: -11px; z-index: 100;transform: rotate(270deg);color: rgba(255,255,255,0.1);font-weight: 700;font-size: 18px;">JCesar.co</span>
    <q-layout-header style="left:67px;position:fixed!important">
      <q-toolbar color="primary" >
        <img src="statics/logo.png" height="48px" />
        <q-toolbar-title class="text-left">
          
          Venta Facil
          <div slot="subtitle">{{ razonSocial }}</div>
        </q-toolbar-title>

        <q-tabs align="right" underline-color="primary">
            <q-route-tab  to="/vender" slot="title" label="Vender" color="white" icon="icon-vender"/>

            <q-route-tab  to="/pedidos" :count="pedidos" slot="title" label="Pendientes" color="white" icon="icon-pedido1-fill"/>

            <q-route-tab  to="/app/deudas" slot="title" label="Deudas"
              color="white"
              :icon=" $router.history.current.fullPath.indexOf('/app/deudas') == 0 ? 'icon-deuda-fill' : 'icon-deuda'"/>

              <q-route-tab  to="/app/banco" slot="title" label="Banco"
              color="white"
              :icon=" $router.history.current.fullPath.indexOf('/app/banco') == 0 ? 'icon-banco-fill' : 'icon-banco'"/>

             <q-route-tab  to="/app/clientes" slot="title" label="Clientes"
              color="white"
              :icon=" $router.history.current.fullPath.indexOf('/app/clientes') == 0 ? 'icon-clientes-fill' : 'icon-clientes'"/>

            <q-route-tab  to="/app/inventario" slot="title" label="Inventario"
              color="white"
              :icon=" $router.history.current.fullPath.indexOf('/app/inventario') == 0 ? 'icon-inventario_fill' : 'icon-inventario'"/>

             <q-route-tab to="" slot="title" color="white" label="Cuenta" icon="icon-cuenta" @click="link('https://jcesar.co/plataforma/entrar')"/>
        </q-tabs>

      </q-toolbar>
    </q-layout-header>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
var shell = require('electron').shell;
import {Pedidos} from 'src/database'
import {LocalStorage} from 'quasar'
export default {
  name: "MyLayout",
  data() {
    return {
      razonSocial: null,
      pedidos: 0
    };
  },
  beforeMount(){
    this.$nextTick(()=> {
      this.razonSocial = LocalStorage.get.item('cuenta').razonSocial
    })
  },
  mounted(){
    Pedidos.find({despachado: false}, (e, docs) =>{
      this.pedidos = docs.length
    })
  },
  methods:{
    link(url){
      shell.openExternal(url);
    }
  }
};
</script>

<style>

</style>
